<net-package-builder data-preserve-state>

  <net-product-price data-key="gsuiteBasic"  data-product-type="gsuite" data-filter-gsuite-product="Google-Apps-For-Business"></net-product-price>
  <net-product-price data-key="gsuiteBusiness" data-product-type="gsuite" data-filter-gsuite-product="Google-Apps-Unlimited"></net-product-price>
  <net-product-price data-key="gsuiteEnterprise" data-product-type="gsuite" data-filter-gsuite-product="1010020020"></net-product-price>
  <net-product-price data-key="netistrarProfessional" data-product-type="qboxmail" data-filter-qboxmail-plan="basic"></net-product-price>


  <div class="grid px2l pb3 vue-wrapper" >


    <div class="flex flex-row-reverse">
      <div id="product-builder-widget-wrap" class="flex flex-col pl1l pt3" >
        <div class="stick">
          {{ partial "product-builder-widget" (dict "bigbuttext" "Add to cart"  "bigbuticon" "net-chevron-right" "smallbuticon" "net-cart-solid" "radius"  "br8tl br8tr ") }}
        </div>

      </div>
      <div class="w-75 px1 pr1l pt3l pt1">

        <!--    <h5 class="uppercase">Configure your domain<span net-if="items.length | eval '>' 1">s</span></h5>-->

        <div v-for="item in items" class="mb3">

          <h4 class="bold brand white-text px175 py025 mb2"><span class="uppercase f5 normal ">Configure <i class="net-chevron-right"></i> </span>{item.label}</h4>
          <h5 class="my050">Registration period</h5>
          <p class="vsmall thin mb1">Save money and extend the registration period at this year's prices.
          </p>


          <div class="white flex px175 py1 justify-between align-center bor1 bordd build-item">

            <div>
              <div class="f5 semi">Registration Years</div>
            </div>
            <div>
              <label class="flex justify-between align-center select-chevron">

                <select v-model="item.quantity" data-update-item :data-key="item.key" :data-label="item.key" data-quantity-suffix="yrs" >
                  <option v-for="(year, index) in item.allPrices"  v-if="year" :value="index">
                    {index} yrs - &pound;{year}
                  </option>
                </select>


              </label>

            </div>


          </div>



          <h5 class="mb050 mt175">Email</h5>
          <p class="vsmall thin mb1">Purchase email with us to save costs and we'll configure it to work with your domain.  Choose between a simple professional email package provided by Netistrar, or a full suite of products by Google. <a href="" class="normal">Which email choice is right for you?</a>
          </p>


          <div :class="{'build-item-selected':!item.subItemsByKey.email}"
               data-remove-item data-key="email" :data-parent-key="item.key"
               class="build-item">
            <div>
              <div class="f5 semi">Configure email later</div>
            </div>

          </div>


          <!--      <div class="white mb075 flex px175 py1 justify-between align-center bor1 bordd build-item"-->
          <!--           net-class-build-item-selected="item.subItemsByKey.email.type | eval '==' 'qboxmail'"-->
          <!--           data-add-item data-type="qboxmail" data-key="email" net-data-parent-key="item.key"-->
          <!--           data-product-data-qboxmail-plan="basic"-->
          <!--           data-label="Netistrar Email" data-quantity-suffix=" users"-->
          <!--           net-data-price="prices.netistrarProfessional">-->

          <!--          <div class="flex1">-->
          <!--            <div class="f5 semi pr1">Netistrar Professional Email</div>-->
          <!--            <div class="vsmall">Your domain, aliases, imap, pop3, anti-spam and more.</div>-->
          <!--          </div>-->

          <!--          <div class="flex-grid align-center">-->
          <!--            <div class="text-right">£{prices.netistrarProfessional}/user/month</div>-->
          <!--            <net-quantity-filter class="flex align-center justify-end pl1l"-->
          <!--                                 data-update-item-->
          <!--                                 data-key="email"-->
          <!--                                 net-data-parent-key="item.key"-->
          <!--                                 net-show="item.subItemsByKey.email.type | eval '==' 'qboxmail'"-->
          <!--                                 data-state="hide">-->
          <!--              <button class="but-widget" data-minus><i class="net-minus"></i></button>-->
          <!--              <input type="text"  data-value net-value="item.subItemsByKey.email.quantity" readonly/>-->
          <!--              <button class="but-widget text-colour" data-plus><i class="net-plus"></i></button>-->
          <!--            </net-quantity-filter>-->
          <!--          </div>-->





          <!--      </div>-->
          <div class="white mb075 flex px175 py1 justify-between align-center bor1 bordd build-item"
               data-add-item data-type="gsuite" data-key="email" :data-parent-key="item.key"
               data-product-data-gsuite-product="Google-Apps-For-Business"
               data-label="G Suite Basic" data-quantity-suffix=" users"
               :data-price="prices.gsuiteBasic"
               :class="{'build-item-selected': item.subItemsByKey.email && item.subItemsByKey.email.type == 'gsuite'}">
            <div class="w-75">
              <div class="f5 semi lh13 pr2">G Suite by Google</div>
              <div class="vsmall">Full suite of business applications at discounted rates.</div>

            </div>
            <div class="text-right"><span class="vsmall thin">from</span> £{prices.gsuiteBasic}/user/month</div>
          </div>



          <div v-if="item.subItemsByKey.email && item.subItemsByKey.email.type == 'gsuite'" >
            <h5 class="mb050 mt175">G Suite</h5>
            <p class="vsmall thin mb1">Choose a G Suite plan which we will configure to work with your business domain name. <a href="/email/gsuite/" class="normal" target="_blank">Which G Suite plan is right for you?</a>
            </p>
          </div>



          <div class="white mb075 flex px175 py1 justify-between align-center bor1 bordd"
               v-if="item.subItemsByKey.email && item.subItemsByKey.email.type == 'gsuite'"
               :class="{'build-item': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Basic', 'build-item-selected': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Basic'}"
               data-add-item data-type="gsuite" data-key="email" :data-parent-key="item.key"
               data-product-data-gsuite-product="Google-Apps-For-Business"
               data-label="G Suite Basic" data-quantity-suffix=" users"
               :data-price="prices.gsuiteBasic">
            <div>
              <div class="f5 semi">G Suite Basic</div>

            </div>
            <div>
              <div class="flex-grid justify-between align-center">
                <div class="text-right">£{prices.gsuiteBasic}/user/month</div>
                <net-quantity-filter class="flex align-center justify-end pl1l"
                                     data-update-item
                                     data-key="email"
                                     :data-parent-key="item.key"
                                     v-if="item.subItemsByKey.email.label == 'G Suite Basic'">
                  <button class="but-widget" data-minus><i class="net-minus"></i></button>
                  <input type="text"  data-value v-model="item.subItemsByKey.email.quantity" readonly/>
                  <button class="but-widget text-colour" data-plus><i class="net-plus"></i></button>
                </net-quantity-filter>
              </div>

            </div>
          </div>

          <div class="white mb075 flex px175 py1 justify-between align-center bor1 bordd"
               v-if="item.subItemsByKey.email && item.subItemsByKey.email.type == 'gsuite'"
               :class="{'build-item': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Business', 'build-item-selected': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Business'}"
               data-add-item data-type="gsuite" data-key="email" :data-parent-key="item.key"
               data-product-data-gsuite-product="Google-Apps-Unlimited"
               data-label="G Suite Business" data-quantity-suffix=" users"
              :data-price="prices.gsuiteBusiness">
            <div>
              <div class="f5 semi">G Suite Business</div>

            </div>
            <div>
              <div class="flex justify-between align-center">
                <div class="text-right">£{prices.gsuiteBusiness}/user/month</div>
                <net-quantity-filter class="flex align-center justify-end pl1l"
                                     data-update-item
                                     data-key="email"
                                     :data-parent-key="item.key"
                                     v-if="item.subItemsByKey.email.label == 'G Suite Business'">
                  <button class="but-widget" data-minus><i class="net-minus"></i></button>
                  <input type="text"  data-value v-model="item.subItemsByKey.email.quantity" readonly/>
                  <button class="but-widget text-colour" data-plus><i class="net-plus"></i></button>
                </net-quantity-filter>
              </div>

            </div>
          </div>


          <div class="white mb075 flex px175 py1 justify-between align-center bor1 bordd"
               v-if="item.subItemsByKey.email && item.subItemsByKey.email.type == 'gsuite'"
               :class="{'build-item': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Enterprise', 'build-item-selected': item.subItemsByKey.email && item.subItemsByKey.email.label == 'G Suite Enterprise'}"
               data-add-item data-type="gsuite" data-key="email" :data-parent-key="item.key"
               data-product-data-gsuite-product="1010020020"
               data-label="G Suite Enterprise" data-quantity-suffix=" users"
               :data-price="prices.gsuiteEnterprise">
            <div>
              <div class="f5 semi">G Suite Enterprise</div>

            </div>
            <div>
              <div class="flex justify-between align-center">
                <div class="text-right">£{prices.gsuiteEnterprise}/user/month</div>
                <net-quantity-filter class="flex align-center justify-end pl1l"
                                     data-update-item
                                     data-key="email"
                                     :data-parent-key="item.key"
                                     v-if="item.subItemsByKey.email.label == 'G Suite Enterprise'">
                  <button class="but-widget" data-minus><i class="net-minus"></i></button>
                  <input type="text"  data-value v-model="item.subItemsByKey.email.quantity" readonly/>
                  <button class="but-widget text-colour" data-plus><i class="net-plus"></i></button>
                </net-quantity-filter>
              </div>

            </div>
          </div>

        </div>

        <!--    main cell-->
      </div>
      <!--  row-->

    </div>


  </div>
  <!--grid-->

</net-package-builder>
