

{{- .Scratch.Set "theme" "default" -}}


{{- with .CurrentSection -}}
{{- with .Param "theme" -}}
{{- $.Scratch.Set "theme" . -}}
{{- end -}}
{{- end -}}
<!--allow page overloads-->
{{- with .Param "theme" -}}
{{- $.Scratch.Set "theme" . -}}
{{- end -}}

<header  class="pr1 py1 {{ if eq (.Scratch.Get "theme") "brand" }}brand{{end}}">

  <net-session>


      <div class="grid flex px1 px2l justify-between align-center">

        <div class="flex align-center flex1 ">
          <div class="flex align-center"><a class="flex align-center inverse mr050" href="{{-  "/" | relLangURL }}" id="btn-brand">
            <img class="hidden-sm hidden-md visible-desktop" src="/images/{{  if eq (.Scratch.Get "theme") "brand" }}{{.Site.Params.logo_rev}}{{else}}{{.Site.Params.logo}}{{end}}" height="{{ if eq (.Scratch.Get "theme") "brand" }}{{with .Site.Params.logo_rev_height}}{{.}}{{end}}{{else}}{{with .Site.Params.logo_height}}{{.}}{{end}}{{end}}" alt="{{.Site.Title}} logo">
            <img class="hidden-dt" src="/images/{{ if eq (.Scratch.Get "theme") "brand" }}{{.Site.Params.logo_mini_rev}}{{else}}{{.Site.Params.logo_mini}}{{end}}" height="{{ if eq (.Scratch.Get "theme") "brand" }}{{with .Site.Params.logo_mini_rev_height}}{{.}}{{end}}{{else}}{{with .Site.Params.logo_mini_height}}{{.}}{{end}}{{end}}" alt="{{.Site.Title}} logo" >
            </a>

          </div>
          <div class="flex flex1 justify-end align-center ">
              {{- $menu := .Site.Menus.top_bar -}}
              {{- $linkcss := "hidden-md hidden-sm visible-desktop mr2 inv medium" -}}
              {{- if eq (.Scratch.Get "theme") "brand" -}}
                {{- $linkcss = "hidden-md hidden-sm visible-desktop wh mr2 inv medium" -}}
              {{- end -}}
              {{- partial "linksmenu.html" (dict "page" . "site" .Site  "ctx" $ "css" $linkcss "menu" $menu) -}}



          </div>
        </div>

        <div class="flex align-center justify-end">
          {{- partial "login-logout" . -}}


          <a net-show="info.cartItems" href="/cart/" class="btn-cart butlk inv mr075 rel {{ if eq (.Scratch.Get "theme") "brand" }}white-text{{end}}" data-state="hide" ><i class="net-cart-solid f4 mr050"></i><span  class="counter counter-sm">{info.cartItems}</span></a>
          <button id="btn-sidebar" class="butlk pr050 inv {{ if eq (.Scratch.Get "theme") "brand" }}white-text{{end}}" data-target="show"><i class="net-menu-alt f3"></i></button>
        </div>
      </div>


    {{- if eq .RelPermalink "/search/" -}}
    <div class=" pt1 px1 px2l grid flex align-center flex-wrap" >
      <div class="flex align-center hidden-sm mr1 {{if eq (.Scratch.Get "theme") "brand" }}white-text{{end}}"><span>{{.Params.search_strap}}</span></div>
      <div class="w-33 ">

        {{- partial "searchbox-sm" (dict "context" . "inputcss" "bor1") -}}
      </div>
      <div class="flex1 flex justify-end ml050l mt1 mt0l"><a href="/cart/" class="but butor butsm butfullsm"  >View cart <i
          class="net-chevron-right"></i></a></div>
    </div>
    {{- end -}}

    {{- if eq (.FirstSection.Permalink) "/help/"}}{{ if ne (.CurrentSection.Permalink) "/help/" -}}
    <div class=" pt1 px1 px2l grid flex align-center" >
      <div class="w-33 ">
        {{-  partial "help/search-header" . -}}
      </div>

    </div>
    {{- end -}}{{- end -}}

{{- partial "header-extras" . -}}
<!--    <div class="px1 px2l small flex align-center hidden-md" style="display:none;"><span class="pr050" >Your filters: National, Design, Art</span> <button class="filtersclose butlk inv ">cancel <i class="net-close"></i></button></div>-->
{{- partial "blognews" . -}}
    {{-  partial "login" . -}}
    {{-  partial "logout" . -}}
    {{- partial "filters-domain-search" -}}

  </net-session>

</header>



