<div id="user-menu" class="expand-menu white pb4 brand-text wh-off" style="transform: scaleY(0);">
  <div class="grid px1l">

    <div class="flex justify-end mt2 px1"><button class="close-menu butlk inv"><i
        class="net-close f3"></i></button>
    </div>
    <div class="flex flex-col-sm-row-reverse">
      <div class="w-33 px1">
        <h3 class="mt0">{{T "newcustomers"}}</h3>
        <p>{{.Site.Params.signuptext}} - <a href="/about/how-it-works/">{{.Site.Params.signupcta}}</a>.</p>
        <p class="flex justify-start"><a href="/signup/" class="but butgn " style="color:white;"><span class="flex align-center" style="z-index: 3">{{T "register"}} <i class="net-chevron-right"></i>
                </span></a></p>

      </div>
      <div class="w-33 px1 h-divider mt3 mt0l">

        <h3 class="mt0">{{T "signin"}}</h3>
        <p>{{.Site.Params.logintext}}</p>
        <p class="flex justify-start">
          <a class="but butwh butwhbk butsm ic icr" href="/login/" class="">{{T "signin"}} <i class="net-chevron-right"></i></a>
        </p>
      </div>
      <div class="simple-menu w-33 px1 h-divider big-link-menu">
        {{ $menu := .Site.Menus.about }}
        {{ $title := T "learnmore"}}
        {{ partial "simplemenu.html" (dict "menuTitle" $title "page" . "ctx" $ "menu" $menu "linkcss" "inv blk pb1") }}

      </div>

    </div>


  </div>
</div>
