<div kb-bind source="{{.Site.Params.backendurl}}/auth" method="GET" model="auth" class="flex" reload-trigger="logout-action:actionCompleted">

  <button style="display: none;" kb-show="auth.loggedInUser.fullName" class="link-button toggle-logout mr1 flex align-center link-button-inverse "><i class="net-security big-small hidden-md"></i><span
      class="btn-text hidden-sm ellipsis" style="max-width: 150px;">{auth.loggedInUser.fullName}</span><i class="net-caret-down ml025" style="font-size: 1rem;position: relative;top: -.15rem;"></i>
  </button>

  <button style="display: none;" kb-hide="auth.loggedInUser.fullName" id="btn-user" class="link-button toggle-user flex align-center  link-button-inverse"><i
      class="net-security big-small"></i><span
      class="btn-text hidden-sm" >Login</span><i class="net-caret-down ml025" style="font-size: 1rem;position: relative;top: -.15rem;"></i>
  </button>
&nbsp;&nbsp;
</div>
