

  <button id="btn-logout-menu" net-show="info.loggedInUser.displayName" class="butlk inv open-logout-menu mr1 flex align-center semi {{ if eq (.Scratch.Get "theme") "brand" }}white-text{{end}}" data-target="show">
    <span
      class="btn-text hidden-sm ellipsis " style="max-width: 130px;">{info.loggedInUser.displayName}</span>
  </button>
  <a href="/signup/" id="btn-user-menu" net-hide="info.loggedInUser.displayName" class="hidden-sm {{ if eq (.Scratch.Get "theme") "brand" }}white-text{{end}} inv normal mr150" >{{T "register"}}</a>
  <span class="hidden-sm ib mr1"><a href="/login/" class="but but{{ if eq (.Scratch.Get "theme") "brand" }}br{{end}}wh inv " net-hide="info.loggedInUser.displayName" >{{T "signin"}}</a></span>





