<div id="logout-menu" class="expand-menu white pb4" data-state="hide" >
  <div class="grid px1l">

    <div class="flex justify-end mt2 px1"><a class="close-menu btn-link "><i
        class="net-close f4"></i></a>
    </div>
    <div class="flex flex-col-sm-row-reverse">
      <div class="w-50 px1 flex">

        <div class="pr1"><i class="net-user-round f1 orange-text"></i></div>
        <div class="flex1">
          <div class="f3 mb050 semi">{info.loggedInUser.username}</div>
          <div class="mb2">{info.loggedInUser.email}</div>
          <p class="flex justify-start">
            <net-logout redirect-url="/">{{T "logout"}}</net-logout>
          </p>


        </div>



      </div>
      <div class="w-50 px1 big-link-menu">
        {{ $menu := .Site.Menus.services }}
        {{ $title := T "foryou" }}
        {{ partial "simplemenu.html" (dict "site" .Site "menuTitle" $title "page" . "ctx" $ "menu" $menu "linkcss" "inv blk pb1") }}

      </div>


    </div>


  </div>
</div>
