<div id="blognews" class="expand-menu white pb4" data-state="hide">
  <div class="grid px1l">

    <div class="flex justify-end mt2 px1"><button class="close-menu butlk inv "><i
        class="net-close f3"></i></button>
    </div>
    <div class="flex ">
      <div class="w-50 px1 flex flex-col justify-between">
        <h3 class="mt0">Blog</h3>
        <p>Review our blog for latest articles, industry news, tips and more.</p>


        <p class="flex justify-start">
          <a href="/blog/" class="but">Read our blog <i class="net-chevron-right"></i></a>
        </p>

      </div>
      <div class="w-50 px1 flex flex-col justify-between">
        <h3 class="mt0">Newsroom</h3>
        <p>Latest Press Releases, summary company information and contact information for Press and Media.</p>


        <p class="flex justify-start">
          <a href="/news/" class="but">Visit our Newsroom <i class="net-chevron-right"></i></a>
        </p>

      </div>


    </div>


  </div>
</div>
