
<footer class="bk mb0 flex1 pt2 pb5">

  <div class="grid px1 px2l">
    <div class="flex-grid flex-row-reverse ">
      <div class="hidden-md semi white-text text-center pb1">{{with .Site.Params.footerstrap}}{{.}}{{end}}</div>
      <div class="w-25 pt1">
        {{if ne (.Page.Param "footercta") "false"}}<a href="{{with .Site.Params.footerCta}}{{.}}{{else}}/register/{{end}}" class="but butgn w">{{with .Site.Params.footerCtaText}}{{.}}{{else}}Register a new account{{end}} <i class="net-tickbox"></i></a>{{end}}
        <p class="brandsubtle-text text-center-sm pt2">Connect with us</p>
        <p class="f2 text-center-sm">{{with .Site.Params.twitter}}<a href="{{.}}" class="net-twitter brand-pale-text inv invlink-text"></a>{{end}}{{with .Site.Params.facebook}}<a
            href="{{.}}" class="net-facebook invlink-text inv "></a>{{end}}{{with .Site.Params.youtube}}<a
            href="{{.}}" class="net-youtube invlink-text inv "></a>{{end}}{{with .Site.Params.linkedin}}<a
            href="{{.}}" class="net-linkedin invlink-text inv "></a>{{end}}</p>

      </div>
      <div class="w-75">
        <div class="white-text semi hidden-sm pt1 pb3">{{with .Site.Params.footerstrap}}{{.}}{{end}}</div>
        <div class="flex flex-wrap">
          <div class="w-33 pb2">
            <p class="brandsubtle-text mb0 text-center-sm">{{with .Site.Params.footer1title}}{{.}}{{end}}</p>
            {{ $menu := .Site.Menus.footer1 }}
            {{ partial "simplemenu.html" (dict "page" . "ctx" $ "menu" $menu "css" "pt050 text-center-sm" "linkcss" " inv blk pb050 invlink-text") }}
          </div>
          <div class="w-33 pb2">
            <p class="brandsubtle-text mb0 text-center-sm">{{with .Site.Params.footer2title}}{{.}}{{end}}</p>
            {{ $menu := .Site.Menus.footer2 }}
            {{ partial "simplemenu.html" (dict "page" . "ctx" $ "menu" $menu "css" "pt050 text-center-sm" "linkcss" "inv blk pb050 invlink-text") }}
          </div>
          <div class="w-33 pb2">
            <p class="brandsubtle-text mb0 text-center-sm">{{with .Site.Params.footer3title}}{{.}}{{end}}</p>
            {{ $menu := .Site.Menus.footer3 }}
            {{ partial "simplemenu.html" (dict "page" . "ctx" $ "menu" $menu "css" "pt050 text-center-sm" "linkcss" "inv blk pb050 invlink-text") }}
          </div>
          <div class="w-33 pb2">
            <p class="brandsubtle-text mb0 text-center-sm">{{with .Site.Params.footer4title}}{{.}}{{end}}</p>
            {{ $menu := .Site.Menus.footer4 }}
            {{ partial "simplemenu.html" (dict "page" . "ctx" $ "menu" $menu "css" "pt050 text-center-sm" "linkcss" "inv blk pb050 invlink-text") }}
          </div>


        </div>


      </div>

    </div>

    <div class="flex-grid justify-end">
      <div ><div class="text-right text-center-sm pt3 pb1 pt0l">
       {{- if eq (.Scratch.Get "amp") true -}}
       <amp-img src="/images/{{.Site.Params.logo_mini_rev}}" height="{{.Site.Params.logo_mini_rev_height}}" width="{{.Site.Params.logo_mini_rev_width}}" ></amp-img>
       {{- else -}}
       <img src="/images/{{.Site.Params.logo_mini_rev}}" height="{{.Site.Params.logo_mini_rev_height}}" >
      {{- end -}}
      </div>
       {{- with .Site.Params.contractingCompany -}}
        <p class="brandsubtle-text small text-right text-center-sm mb0 pb025">{{ . | markdownify }}</p>{{- end -}}

       {{- $companyFooter := .Site.Params.address | safeHTML -}}
       {{with .Site.Params.companyFooter}}
       {{- $companyFooter = . -}}
       {{- end -}}

       {{- with $companyFooter -}}
        <p class="brandsubtle-text small text-right text-center-sm">{{- . | markdownify }} &copy; {{ dateFormat "2006" now }} {{$.Site.Params.copyright}} All rights reserved.</p>
       {{- end -}}


      </div>
    </div>


  </div>


</footer>
