{{- $site := .site -}}
{{- $css := .css -}}
{{- $page := .page -}}
{{- with .menu -}}
{{- range . -}}
{{- if eq .Identifier "CUSTOM" }}
{{ partial "custom-link-menu-items" (dict "site" $site "page" $page "css" $css "menuitem" .)  }}
{{- else if eq .Identifier "DROPDOWN" }}
<button id="btn-{{.URL}}" class="butlk flex align-center {{$css}} {{ if eq ($page.Scratch.Get "theme") "brand" }}white-text{{end}}" data-target="show">{{  .Name }}</button>
{{- else if eq .Pre "button" -}}
<h1>{{.Pre}}</h1>
<button id="btn-{{.Name}}" class="butlk flex align-center {{$css}} {{ if eq ($page.Scratch.Get "theme") "brand" }}white-text{{end}}" data-target="show">{{ T .Name }}</button>
{{- else -}}
<a href="{{- .URL | safeURL -}}" class="{{- $css }} {{ if eq $page.RelPermalink .URL -}}active{{- end -}}"><span>{{- if .Pre -}}<span class=" blk mb025">{{.Name | safeHTML}}</span><span class="vsmall g6-text normal">{{.Pre}}</span>{{else}}{{- .Name | safeHTML -}}{{end}}</span>{{- if .Post}}<i class="net-{{.Post}}"></i>{{end}}</a>
{{- end -}}
{{- end -}}
{{- end -}}
