<section class="gf9 p075 mb1">
<h5>How we work</h5>
<p class="small">CEO Emily Taylor and her colleagues Stacie Hoffman and Samantha Bradshaw offer expert
 commentary for TV and Radio and articles for Media
 <a href="#" class="sh inv" tabindex="1" title="more &#x25BE;"></a>
 <span class="msg">as specialist in a range of cyber subjects below. <span class="blk mb050"></span> They are always interested in promoting women in tech, findings from their latest research, and work for The Journal of Cyber Policy (Chatham House) and the Oxford Internet Institute.</span>
 <a href="#" class="hd inv" tabindex="1" title="less &#x25B4;"></a>
</p>
</section>
