{{- $action := .action -}}
{{- $placeholder := .placeholder -}}
{{- $class := .class -}}
{{- $inputclass := .inputclass -}}
{{- $buttonclass := .buttonclass -}}
{{- $buttonpadding := .buttonpadding -}}
{{- $iconclass := .iconclass -}}

<form target="_blank" action="{{- with $action -}}{{- . -}}{{else}}/search/{{end}}" class="pl050 flex br8tr br8br br8bl br8tl {{ with $class -}}{{- . -}}{{- end -}}">
<input class="f5 pl050 bor0 w {{ with $inputclass -}}{{- . -}}{{- end -}}" type="text" name="domainsearch" placeholder="{{- with $placeholder -}}{{- . -}}{{- end -}}">
<button type="submit" class="{{ with $buttonclass -}}{{- . -}}{{- end }} {{ with $buttonpadding -}}{{- . -}}{{- else -}}px1{{- end }} flex align-center bor0 ge br8tr br8br" > <i class="net-search g5-text f3 g9-text {{ with $iconclass -}}{{- . -}}{{ else }}f3{{- end -}}"></i></button>
</form>
