{{- $youtubepath := "https://www.youtube.com/embed/" -}}
{{- $anchor := printf "/news/#%s" (.Params.id | urlize) }}
<div class="w-50 flex flex-col" >

 {{- with .Params.youtubeid -}}
 <div class="with-link gf9" >
  <div class="aspect sixteen-nine">
   <iframe src="{{ printf "%s%s" $youtubepath . }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="YouTube Video"></iframe>
  </div>
  <a href="{{$anchor}}" class="link-over"></a>
 </div>
 {{- else -}}

 <div class="with-link gf9" >

  {{- $image := default (.Resources.GetMatch "*featured*") (.Resources.GetMatch "*highlight*") -}}
  {{- $imagesrc := "" -}}
  {{- with $image -}}
  {{- $image = .Resize "600x" -}}
  {{- $imagesrc = .RelPermalink -}}
  {{- end -}}


  <div class="aspect sixteen-nine ">
   <img class="cover abs" src="{{$imagesrc}}" alt="Media item {{ $image.Title }}"></img>
   <a href="{{$anchor}}" class="link-over"></a>
  </div>
 </div>

 {{- end -}}
 <div class="gf9 flex1 p1 flex flex-col justify-between">


  <div class="mb1">

   <h5 class="m0 lh13"><a class="inv font-color semi" href="{{$anchor}}">{{- with .Params.channel }}<b>{{.}}:</b> {{ end }}{{.Title}}</a></h5>

   <time class="vsmall g8-text" datetime="{{ dateFormat " 2006-01-02T15:04:05-07:00" .Lastmod }}">
     {{ dateFormat "2 Jan, 2006" .Lastmod }}
     </time>
  </div>
  <div class="small">{{ range .Params.categories }}<a href="/categories/{{- . | urlize -}}/" class="pipe uppercase text-colour inv normal">{{ . }}</a>{{ end }}: {{ range .Params.tags }}<a href="/tags/{{- . | urlize -}}/" class="com text-colour inv normal">{{ . }}</a>{{ end }}</div>

 </div>
</div>