



<div class="w-50 flex flex-col mb2 mb0l">

 {{ $permalink := .RelPermalink }}
 {{- with .Params.youtubeid -}}
 <div class="with-link gf9" >
  <div class="aspect sixteen-nine">
   <iframe src="https://www.youtube.com/embed/{{.}}" class="abs" title="YouTube Video"></iframe>
  </div>
  <a href="{{$permalink}}" class="link-over"></a>
 </div>
 {{- else -}}
 <div class="with-link gf9" >
  {{- $img := .Resources.GetMatch "*featured*" -}}

  {{- with $img -}}
  {{- $small := .Resize "600x" -}}

  <div class="aspect sixteen-nine">
   <img class="abs cover" src="{{ $small.RelPermalink }}"  alt="{{ $img.Title }}" ></img></div>
  <a href="{{$permalink}}" class="link-over"></a>
  {{- end -}}
 </div>

 {{- end -}}

 <div class="nftheme p1">

  <div class="mb1">
   <h3 class="lh12 m0"><a class="inv font-color bold" href="{{- $permalink -}}">{{- with .Params.channel }}<b>{{.}}:</b> {{ end }}{{.Title}}</a>
   </h3>
   <time class="vsmall g8-text" datetime="{{ dateFormat " 2006-01-02T15:04:05-07:00" .Lastmod }}">
   {{ dateFormat "2 Jan, 2006" .Lastmod }}
   </time>
  </div>
  <div class="small">{{ range .Params.categories }}<a href="/categories/{{- . | urlize -}}/" class="pipe uppercase text-colour inv normal">{{ . }}</a>{{ end }}: {{ range .Params.tags }}<a href="/tags/{{- . | urlize -}}/" class="com text-colour inv normal">{{ . }}</a>{{ end }}</div>
 </div>
</div>