{{ $currentPage := . }}
{{ $section := .Section}}
{{ $currentSection := .CurrentSection}}
<div class="side-menu">
  {{ range where $.Site.Sections "Section" $section }}

  {{ range .RegularPages}}
  <a href="{{.Permalink}}" class="{{if eq $currentPage .}}active{{ end }}">{{.Title}}</a>
  {{ end }}
  {{ range .Sections  }}

  {{if ne $currentSection .}}
    <a href="{{.Permalink}}" class="{{if eq $currentPage .}}active{{ end }}" >{{.Title}}  <i class="net-dummy"></i></a>
{{end}}
  {{if eq $currentSection .}}
    <button class="dropdown-btn active">
    {{.Title}} <i class="net-dummy"></i>
    </button>
  {{ end }}
    <div class="dropdown-container" data-state="{{if eq $currentSection .}}show{{else}}hide{{end}}">
      <!--<a href="{{.Permalink}}" {{if eq $currentPage .}}class="active"{{ end }}>Overview</a>-->
      {{ range .Pages}}
      <a href="{{.Permalink}}" class="{{if eq $currentPage .}}active{{ end }} pl1">{{.Title}}</a>
      {{ end }}

    </div>

  {{ end }}
  {{end}}


</div>

