{{ define "main" }}
<div class="gf9">
 <div class="grid px1 px2l py2  " >
  <div class="breadcrumb">
   {{partial "breadcrumb" (dict "p1" . "p2" .) }}
  </div>
 </div>
</div>
<div class=" white">
 <div class="grid px1 px2l py2 py4l">
  <div class="small uppercase g5-text">Tag</div>
  <h1 class="f-subheadline lh-title semi w-60 ">{{.Title}}</h1>

 </div>
</div>
<div class="white">

 <div class="grid px1 px2l pb4">

  <div class="flex flex-grid flex-wrap flex-gutter-3">

   {{ range (where .Pages.ByLastmod.Reverse "Params.frontpageonly" "!=" "true") }}
   {{- partial "media-related-item" . -}}
   {{ end }}
  </div>



 </div>
</div>
<div class="gf9">
 <div class="grid px1 px2l py4">

  <h2>All tags</h2>
  <ul class="unstyled">
   {{ range .Site.Taxonomies.tags }}
   <li class="com"><a class="inv" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
   {{ end }}
  </ul>

 </div>
</div>
{{ end }}
