{{- $author := .Get "author" -}}
{{- $excludeHeadlines := .Get "excludeHeadlines" -}}
{{- $pages := .Site.RegularPages -}}
{{- $blogPages := where $pages "Section" "blog" -}}
{{- $arts := slice -}}
{{- range $blogPages -}}
{{- $page := . -}}
{{- if in .Params.authors $author | and (not (.Params.headline)) -}}
{{- $arts = $arts | append $page -}}
{{- end -}}
{{- end -}}
<div class="flex flex-gutter-3-050" >
  {{- $arts := $arts | first 3 -}}
  {{- range $arts -}}
  <div class="w-33 flex flex-col " >
    {{- $img := .Resources.GetMatch "*featured*" -}}
    {{- $permalink := .RelPermalink -}}
    {{- with $img -}}
    {{- $small := .Resize "300x" -}}
   <div class="aspect sixteen-nine ">
    <img class="cover abs" src="{{ $small.RelPermalink }}" alt="{{ $img.Title }}"></img>
    <a href="{{$permalink}}" class="link-over"></a>
   </div>
    {{- end -}}
    <div class="ge flex1 p1 flex flex-col justify-between">
      <h5 class="mt0"><a class="inv font-color bold" href="{{.RelPermalink}}">{{.Title}}</a></h5>
      <ul class="unstyled tiny uppercase ">
        {{- range .Params.categories -}}<li class="mb0 com"><a class="inv normal g6-text" href="/categories/{{ . | urlize }}/">{{. }}</a></li>{{- end -}}</ul>
    </div>
  </div>
  {{- end -}}
</div>
