
<div class="grid flex justify-between px1 px2l py150" >
{{- $class := .Get "class" -}}
{{- $linkclass := .Get "linkclass" -}}
<div class="breadcrumb hidden-sm {{with $class}}{{.}}{{end}}">{{ partial "breadcrumb" (dict "p1" .Page "p2" .Page "linkclass" $linkclass)}}</div>
{{if .Get "prevlabel"}}
<a href="{{with .Get "prevurl"}}{{.}}{{end}}" class="inv hidden-md inverse flex align-center {{with .Get "linkclass"}}{{.}}{{end}}"><i class="net-chevron-left" ></i> {{with .Get "prevlabel"}}{{.}}{{end}}</a>
{{end}}
{{if .Get "nextlabel"}}
  <a href="{{with .Get "nexturl"}}{{.}}{{end}}" class="inv flex align-center  {{with $linkclass}}{{.}}{{end}}">{{with .Get "nextlabel"}}{{.}}{{end}} <i class="net-chevron-right" ></i></a>
{{end}}
</div>
