

<div class="w-50 flex pt3">
    {{ with .Site.GetPage (.Get "path") }}



    {{ $thumb := .Resources.GetMatch "*icon*" }}
    {{ with $thumb }}
    <div class="pr2">


      <img src="{{.RelPermalink}}" width="60" alt="{{.Title }} icon">

    </div>
    {{end}}
    <div class="flex flex-col justify-between">
      <div class="f3 semi lh-copy mb075"> {{.Title}}</div>
      <p class="small mb075">{{.Description}}</p>
      <a class="cta-link" href="{{.Permalink}}" >{{with .Params.cta_text}}{{.}}{{else}}{{T "learnmore"}}{{end}}</a>
    </div>


    {{end}}




 </div>
