<div net-bind source="{{.Site.Params.apiurl}}/apidoc/default/exception/{request.exception}?format=json"
     loading-indicator="search-loading"
     model="api">


    <div class="search-loading py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>

    <div net-show="api.exception" data-state="hide">

        <h1 class="f-subheadline mt050 mb2">API Exception: {api.exception.name}</h1>

        <p net-html="api.exception.commentHTML">
        </p>

        <h4>Properties</h4>

        <table class="table small table-last">
            <thead>
            <tr>
                <th class="" scope="col">Name</th>
                <th class="" scope="col">Details</th>


            </tr>
            </thead>
            <tbody net-each-property="api.exception.properties">
            <tr>
                <td class="semi" scope="row" data-label="Name">{property.name}</td>
                <td data-label="Type">Type:
                    <a class="inv" net-show="property.typePath"
                       net-href="{{ .Page.CurrentSection.Permalink}}object?object={property.typePath}">{property.shortType}</a>
                    <span net-hide="property.typePath">{property.shortType}</span>
                </td>


            </tr>
            <tr><td></td><td data-label="Access">Access:
                <span net-show="property.updatable">Read / Write</span>
                <span net-hide="property.updatable">Read Only</span>
            </td></tr>
            <tr> <td></td><td class="text-left-sm" data-label="Description&nbsp;" net-html="property.description" style="word-break: break-word;"></td></tr>
            </tbody>
        </table>

    </div>

</div>
