<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default/exception/{request.exception}?format=json"
          data-source-key="api">

<div class="vue-wrapper" kb-cloak>


    <div class="search-loading py2 text-center" kb-if="api.exception | not">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>

    <div kb-if="api.exception"  >

        <h1 class="f-subheadline mt050 mb2">API Exception: {api.exception.name}</h1>

        <p kb-html="api.exception.commentHTML">
        </p>

        <h4>Properties</h4>

        <table class="table small table-last">
            <thead>
            <tr>
                <th class="" scope="col">Name</th>
                <th class="" scope="col">Details</th>


            </tr>
            </thead>
            <tbody kb-each-property="api.exception.properties">
            <tr>
                <td class="semi" scope="row" data-label="Name">{property.name}</td>
                <td data-label="Type">Type:
                    <a class="inv" kb-if="property.typePath"
                       kb-href="'{{ .Page.CurrentSection.Permalink}}object?object=' | append property.typePath">{property.shortType}</a>
                    <span kb-if="property.typePath | not">{property.shortType}</span>
                </td>


            </tr>
            <tr><td></td><td data-label="Access">Access:
                <span kb-if="property.updatable">Read / Write</span>
                <span kb-if="property.updatable | not">Read Only</span>
            </td></tr>
            <tr> <td></td><td class="text-left-sm" data-label="Description&nbsp;" kb-html="property.description" style="word-break: break-word;"></td></tr>
            </tbody>
        </table>

    </div>

</div>

</net-bind>
