<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default?format=json" data-source-key="api">

<div class="vue-wrapper" kb-cloak>

    <div class="search-loading py2 text-center" kb-if="api.apiMetaData | not">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>

    <div  kb-if="api.apiMetaData" >

        <table class="striped-table">
            <thead>
            <tr>
                <th class="w-33" scope="col">Exception</th>
            </tr>
            </thead>
            <tbody>
            <tr kb-each-object="api.apiMetaData.exceptionSummaries">
                <td scope="row" data-label="Object"><a
                        kb-href="'{{ .Page.CurrentSection.Permalink }}exception?exception=' | concat object.path">{object.name}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</net-bind>
