<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default/object/{request.object}?format=json"
    data-model="object">


<div class="vue-wrapper">


    <div v-if="!object.object" class="search-loading py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>


    <div v-if="object.object" data-state="hide" :data-state="object.object ? 'show' : 'hide'">

        <h1 class="f-subheadline mt050 mb2">API Object: {object.object.name}</h1>

        <p v-html="object.object.commentHTML">
        </p>

        <h4>Properties</h4>
        <div class="overflow-x">
            <table class="table small table-last">
                <thead>
                <tr>
                    <th class="" scope="col">Name</th>
                    <th class="" scope="col">Details</th>

                </tr>
                </thead>
                <tbody v-for="property in object.object.properties">
                <tr>
                    <td class="semi" scope="row" data-label="Name">{property.name} <span
                        v-if="property.required">*</span></td>
                    <td data-label="Type">Type:
                        <a v-if="property.typePath"
                           :href="'{{ .Page.CurrentSection.Permalink}}object?object=' + property.relativeTypePath">{property.shortType}</a>
                        <span v-if="!property.typePath">{property.shortType}</span>
                    </td>


                </tr>
                <tr><td></td><td data-label="Access">Access:
                    <span v-if="property.updatable">Read / Write</span>
                    <span v-if="!property.updatable">Read Only</span>
                </td></tr>

                <tr><td></td> <td colspan="2" class="text-left-sm" data-label="Description&nbsp;" v-html="property.description"
                                  style="word-break: break-word"></td></tr>

                </tbody>
            </table>
        </div>

        <p class="small mt050">* indicates required property</p>

    </div>



</div>

</net-bind>
