<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default?format=json" data-model="api">

<div class="vue-wrapper"
>

    <div class="search-loading py2 text-center" kb-if="!api.apiMetaData">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>

    <div data-state="hide" :data-state="api.apiMetaData ? 'show' : 'hide'" kb-if="api.apiMetaData" >

        <table class="striped-table">
            <thead>
            <tr>
                <th class="w-33" scope="col">Exception</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="object in api.apiMetaData.exceptionSummaries">
                <td scope="row" data-label="Object"><a
                        :href="'{{ .Page.CurrentSection.Permalink }}exception?exception=' + object.path">{object.name}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</net-bind>
