<net-bind
        data-rehighlight
        data-source="{{.Site.Params.apiurl}}/apidoc/default/api/{request.api}/{request.method}?format=json"
          data-source-key="apiMethod">

<div class="vue-wrapper" kb-cloak>

    <div kb-if="apiMethod.method | not" class="text-center py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>


    <div kb-if="apiMethod.method">

        <h1 class="f-subheadline mt050 mb2">{apiMethod.controller.title}: {apiMethod.method.name}</h1>

        <p kb-html="apiMethod.method.commentHTML"></p>

        <p>
            <span kb-if="apiMethod.method.httpMethodIndicator.GET" class="badge semi brand-2 white-text">{apiMethod.method.httpMethod}</span>
            <span kb-if="apiMethod.method.httpMethodIndicator.POST" class="badge semi brand white-text">{apiMethod.method.httpMethod}</span>
            <span kb-if="apiMethod.method.httpMethodIndicator.PUT" class="badge semi brand white-text">{apiMethod.method.httpMethod}</span>
            <span kb-if="apiMethod.method.httpMethodIndicator.PATCH" class="badge semi brand white-text">{apiMethod.method.httpMethod}</span>
            <span kb-if="apiMethod.method.httpMethodIndicator.DELETE" class="badge semi brand white-text">{apiMethod.method.httpMethod}</span>
            {apiMethod.method.fullRequestPath}
        </p>

        <p class="small"><b>Rate limit: </b>
            <span kb-if="apiMethod.method.rateLimit">{apiMethod.method.rateLimit} requests per minute</span>
            <span kb-if="apiMethod.method.rateLimitMultiplier">
    Your account rate limit as displayed in My Account -> API Settings
    <span kb-if="!apiMethod.method.rateLimitMultiplierIsOne" class="semi"> * {apiMethod.method.rateLimitMultiplier}</span>
  </span>
        </p>

        <h3 class="mt2 mb1">Parameters</h3>

        <div class="overflow-x ">

            <table class="table small">
                <thead>
                <tr>
                    <th class="" scope="col">Name</th>
                    <th class="" scope="col">Type</th>

                    <th class="" scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr kb-each-param="apiMethod.apiMetaData.globalParameters">
                    <td class="semi" scope="row" data-label="Name">
                        <span>{param.name}</span><span>*</span>
                    </td>
                    <td data-label="Type">string</td>
                    <td data-label="Description" kb-text="param.description"></td>
                </tr>
                <tr kb-each-param="apiMethod.method.params">
                    <td class="semi" scope="row" data-label="Name">{param.name}<span kb-if="param.isOptional | not">*</span></td>
                    <td data-label="Type">
                        <span kb-if="param.typePath | not">{param.shortType}</span>
                        <a class="inv" kb-if="param.typePath" kb-href="'../object/?object=' | concat param.relativeTypePath">{param.shortType}</a>
                    </td>
                    <td class="text-left-sm" data-label="Description&nbsp;" kb-text="param.description" ></td>
                </tr>

                </tbody>
            </table>

            <p class="small mt050">* indicates required field</p>

        </div>

        <div kb-if="apiMethod.method.returnType">

            <h3 class="mt2 mb1">Returns</h3>
                <p kb-if="apiMethod.method.returnTypePath | not">{apiMethod.method.shortReturnType}</p>
            <p><a kb-href="'../object/?object=' | concat apiMethod.method.relativeReturnTypePath">{apiMethod.method.shortReturnType}</a></p>


            <p kb-text="apiMethod.method.returnDescription"></p>

        </div>

        <div kb-if="apiMethod.method.exceptions">
        <h3 class="mt2 mb1">Exceptions</h3>

            <span kb-each-exception="apiMethod.method.exceptions">
                <a kb-href="'../exception/?exception=' | concat exception.relativePath">{exception.shortType}</a>&nbsp;</span>

        </div>

        <h3 class="mt2 mb1">Examples</h3>

     {{ partial "tab-header" }}

<div id="tab-1"  class="tab-content overflow-x current" kb-if="apiMethod.method">
<pre >
<code>
curl -H "Content-Type: application/json"
-X {apiMethod.method.httpMethod} {apiMethod.baseURL}{apiMethod.method.fullRequestPath}?apiMethodKey=YOURAPIKEY&apiMethodSecret=YOURSECRET<span
kb-each-param="apiMethod.method.params"><span kb-if="param.payloadParam | not"><span kb-if="param.segmentParam | not">&{param.name}=VALUE</span></span></span>
<span kb-if="apiMethod.method.payloadParam">-d '{apiMethod.method.payloadParam.shortType} JSON DATA'</span>
</code>
</pre>
</div>

<div id="tab-2"  class="tab-content overflow-x" kb-if="apiMethod.method">
<pre><code class="php">

use <span kb-text="apiMethod.method.rootNamespace"></span>\APIProvider;

$client = new APIProvider("{apiMethod.baseURL}", "YOURAPIKEY", "YOURAPISECRET");

<span kb-if="apiMethod.method.returnType">$result = </span>$client->{apiMethod.controller.className}()->{apiMethod.method.name}(<span
kb-each-param="apiMethod.method.params"><span kb-if="param.index">, </span>${param.name}</span>)

</code></pre>
</div>

<div id="tab-3"  class="tab-content overflow-x" kb-if="apiMethod.method">
<pre><code class="java">

APIProvider client = new APIProvider("{apiMethod.baseURL}", "YOURAPIKEY", "YOURAPISECRET");

<span kb-if="apiMethod.method.returnType">{apiMethod.method.returnJavaType} result = </span>client.{apiMethod.controller.className}().{apiMethod.method.name}(<span
kb-each-param="apiMethod.method.params"><span kb-if="param.index">, </span>{param.name}</span>)


</code></pre>
</div>



    </div>

</div>

</net-bind>
