<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default/api/{{.Page.Params.apiController}}?format=json"
          data-source-key="api">

  <div class="vue-wrapper" kb-cloak>

      <div class="py2 text-center" kb-if="!api.controller">

        <img src="/images/loading-animation.gif" alt="Loading animation icon">
      </div>


      <div kb-if="api.controller">

    <p kb-html="api.controller.commentHTML"></p>

    <table class="table small">
      <thead>
      <tr>
        <th class="w-33" scope="col">Param</th>
        <th class="w-15" scope="col">Method</th>
        <th class="" scope="col">Request path</th>
      </tr>
      </thead>
      <tbody>
      <tr kb-each-method="api.controller.methods">
        <td  scope="row" data-label="Param">
          <a class="inv" kb-href="'{{ .Page.CurrentSection.Permalink }}method/?api=' | concat api.controller.path  '&method='  method.name">{method.name}</a></td>
        <td data-label="Method">{method.httpMethod}</td>
        <td data-label="Path">{method.fullRequestPath}</td>
      </tr>
      </tbody>
    </table>

      </div>

  </div>

</net-bind>
