<net-bind data-source="{{.Site.Params.apiurl}}/apidoc/default/object/{request.object}?format=json"
    data-source-key="object">


<div class="vue-wrapper" kb-cloak>


    <div kb-if="object.object | not" class="search-loading py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>


    <div kb-if="object.object" >

        <h1 class="f-subheadline mt050 mb2">API Object: {object.object.name}</h1>

        <p kb-html="object.object.commentHTML | replace '/object:(.*?)/g' '../object/?object=$1' | replace '/api:(.*?)/g' '../$1'">
        </p>

        <h4>Properties</h4>
        <div class="overflow-x">
            <table class="table small table-last">
                <thead>
                <tr>
                    <th class="" scope="col">Name</th>
                    <th class="" scope="col">Details</th>

                </tr>
                </thead>
                <tbody kb-each-property="object.object.properties">
                <tr>
                    <td class="semi" scope="row" data-label="Name">{property.name} <span
                        kb-if="property.required">*</span></td>
                    <td data-label="Type">Type:
                        <a kb-if="property.typePath"
                           kb-href="'{{ .Page.CurrentSection.Permalink}}object?object=' | append property.relativeTypePath">{property.shortType}</a>
                        <span kb-if="property.typePath | not">{property.shortType}</span>
                    </td>


                </tr>
                <tr><td></td><td data-label="Access">Access:
                    <span kb-if="property.updatable">Read / Write</span>
                    <span kb-if="property.updatable | not">Read Only</span>
                </td></tr>

                <tr><td></td> <td colspan="2" class="text-left-sm" data-label="Description&nbsp;" kb-html="property.description | replace '/object:(.*?)/g' '../object/?object=$1' | replace '/api:(.*?)/g' '../$1'"
                                  style="word-break: break-word"></td></tr>

                </tbody>
            </table>
        </div>

        <p class="small mt050">* indicates required property</p>

    </div>



</div>

</net-bind>
