<div net-bind source="{{.Site.Params.apiurl}}/apidoc/default?format=json" model="objects"
    loading-indicator="search-loading">


    <div class="search-loading py2 text-center">

        <img src="/images/loading-animation.gif" alt="Loading animation icon">
    </div>


    <div net-show="objects.apiMetaData" data-state="hide">

        <table class="table small">
            <thead>
            <tr>
                <th class="w-33" scope="col">Object</th>
            </tr>
            </thead>
            <tbody>
            <tr net-each-object="objects.apiMetaData.objectSummaries">
                <td scope="row" data-label="Object"><a class="inv"
                        net-href="{{ .Page.CurrentSection.Permalink }}object?object={object.path}">{object.name}</a></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
