<style>
  #property {
    display: block;
  }

  @media screen and (min-width: 1000px) {

    #property {
      display: flex;
    }

    .property-details {
      padding-left: 4rem;
      padding-right: 2rem;
      width: 60%;
    }

    .desc p, .desc h5 {
      margin-bottom: .5rem;
    }

    .desc li {
      margin-bottom: 0;

    }
  }
</style>


{{ $allplans := .Site.GetPage (.Get "path") }}
{{ $.Scratch.Set "plan" "Basic"}}
{{if eq .Page.Params.plantitle "Business"}}
{{ $.Scratch.Set "plan" "Business"}}
{{end}}
{{if eq .Page.Params.plantitle "Enterprise"}}
{{ $.Scratch.Set "plan" "Enterprise"}}
{{end}}


<net-bind data-source="/gsuite/plans/{{ $.Scratch.Get "plan" }}" data-source-key="gsuite">


  <div class="grid grid-big vue-wrapper">

    <div class="white pt3">

      <div class="grid grid-big">
        <div class="flex-grid px1 px2l">
          <div class="w-80 pr2l">

            <div id="property">
              <div class="w-40 pb2"><img class="responsive-image" src="/images/gsuite.gif" alt="G Suite logo"></div>
              <div class="property-details">
                <div class="breadcrumb small">{{ partial "breadcrumb" (dict "p1" .Page "p2" .Page)}}</div>
                <h1 class="f3 mb050 ">{{.Page.Title}}</h1>
                <p>{{.Page.Description}}</p>

                <hr>
                <div class="pt2">

                  <span class="f3 pr1 flex align-center" >&nbsp;&pound;
                    <span
                        kb-text="gsuite.Monthly.netPrice"></span>
                    <span class="small"> /user/month</span></span>
                </div>

                <div class="small mt2 desc">
                  <p class=" italic">{{$allplans.Param "activedomainrequirement"}}</p>
                  {{ $list := .Page.Resources.GetMatch "list*" }}
                  {{ with $list }}
                  {{.Content}}
                  {{ end }}
                </div>
              </div>
            </div>


          </div>
          <div class="w-20">





            <div class="bold f5 pb1 ">Purchase options:
            </div>
            <h4 class="ga-text normal">Option 1:</h4>
            <p class="small">If you already have a domain name that you manage with {{ .Site.Params.shorttitle }}. <button data-tippy-content="From your dashboard, search for your domain name and follow options to add G Suite." class="but butlk small inv text-colour super "><i class="net-help-circle"></i></button></p>

          <p><a href="{{ .Site.Params.dashboard_url }}" class="but butblk butgn">Add from Dashboard <i class="net-launch-out"></i></a></p>
          <h4 class="ga-text normal mt3">Option 2:</h4>
          <p class="small">For a brand new business, email address - search for a domain name and then follow the options to add G Suite. <button data-tippy-content="From the search screen click 'Continue' to add G Suite and other options." class="but butlk small inv text-colour super "><i class="net-help-circle"></i></button></p>

        <div class=""><form action="/search/" class="flex search-group search-groupmuted white">
          <input class="w-80 " type="text" name="domainsearch"  placeholder="Search for domain ..">
          <button type="submit" class="br0 " >
            <i class="net-search g8-text f4 white-text"></i>
          </button>

        </form>
        </div>
        <div class="gf9 p1 mt2">
          <p class="thin mb050"><span class="red-text">&pound;</span>
            <span class="red-text"
                  kb-text="gsuite.Monthly.netPrice"></span>
            <span class="small">/user/month</span></span><span class="vsmall">(ex. VAT)</span>
          </p>
          <p class="small">Provided by Netistrar Limited (Google Authorised Reseller)</p>




        </div>

          </div>
        </div>

        <hr class="mb0 mt3">

      </div>

    </div>
  </div>



<div class="background py2 list">
  <div class="grid grid-big px1 px2l small">
    {{ $desc := .Page.Resources.GetMatch "details*" }}
    {{ with $desc }}<h3 class="mt0 ">{{.Title}}</h3>
    <div class="pl1 w-60">{{.Content}}</div>
    {{ end }}
  </div>

</div>
<div class="white py2 desc">
  <div class="grid grid-big px1 px2l small">
    {{ $desc := .Page.Resources.GetMatch "description*" }}
    {{ with $desc }}<h3 class="mt0 mb050">{{.Title}}</h3>
    <div class="ml1 w-60">{{.Content}}</div>
    {{ end }}
  </div>

</div>


</net-bind>
