<net-gsuite>
<div class="flex text-center pb2 mb1 overflow-x" >
  <div class="w-33 flex flex-col mr1 gf9" style="min-width: 200px;">
    <h5 class="normal py050 black white-text m0">Basic</h5>
    <div class="flex1">
      <div class=" px1 py1">
        <p style="min-height: 75px;">Professional office suite with 30GB storage.</p>

        <h2 class="semi brand-2-text mt0 mb0 pb025">&pound;<span v-html="gsuites.Basic.Monthly.netPrice"></span></h2>
        <p>GBP / user / month ex.VAT</p>

        <p class="flex justify-center mb050"><a href="/email/gsuite/basic/" class="button accent-button inverse-button" >More details</a></p>
        <p class="small italic mb0 pb1">Save more. Annual plan <br>&pound; <span class="bold" v-html="(gsuites.Basic.Annual.netPrice / 12).toFixed(2)"></span> / month</p>
      </div>

    </div>

  </div>
  <div class="w-33 flex flex-col mx1 gf9"  style="min-width: 200px;">
    <h5 class="normal py050 brand white-text mt3 m0">Business</h5>
    <div class="flex1" style="">
      <div class=" px1 py1">
        <p style="min-height: 75px;">Enhanced office suite with unlimited storage and archiving.</p>

        <h2 class="semi brand-text mt0 mb0 pb025">&pound;<span v-html="gsuites.Business.Monthly.netPrice"></span></h2>
        <p>GBP / user / month ex.VAT</p>

        <p class="flex justify-center mb050"><a href="/email/gsuite/business/" class="button inverse-button" >More details</a></p>

        <p class="small italic mb0 pb1">Save more. Annual plan <br>&pound; <span class="bold" v-html="(gsuites.Business.Annual.netPrice / 12).toFixed(2)"></span> / month</p>
      </div>

    </div>

  </div>


  <div class="w-33 flex flex-col ml1 gf9"  style="min-width: 200px;">
    <h5 class="normal py050 brand-lighter white-text mt3 m0">Enterprise</h5>
    <div class="flex1" style="">
      <div class="px1 py1">
        <p style="min-height: 75px">Premium office suite with advanced controls and capabilities.</p>

        <h2 class="semi brand-lighter-text mt0 mb0 pb025">&pound;<span v-html="gsuites.Enterprise.Monthly.netPrice"></span></h2>
        <p>GBP / user / month ex.VAT</p>

        <p class="flex justify-center mb050"><a href="/email/gsuite/enterprise/" class="button brand-lighter-button inverse-button" >More details</a></p>
        <p class="small italic mb0 pb1">Save more. Annual plan <br>&pound; <span class="bold" v-html="(gsuites.Enterprise.Annual.netPrice / 12).toFixed(2)"></span> / month</p>
      </div>


    </div>

  </div>


</div>

</net-gsuite>
