
{{ $allplans := (.Site.GetPage (.Get "path")  ) }}
{{ $buttonClass := .Get "buttonclass"}}
{{ $planColour := .Get "plancolourclass"}}
{{ $planTextColour := .Get "plantextcolourclass"}}
{{$plan := .Get "plan"}}
{{$planpage := .Site.GetPage (printf "/email/gsuite/%s" $plan) }}
{{$features := ""}}
{{if .Get "features"}}
{{with $planpage}}
{{$features = .Resources.GetMatch "features*"}}
{{end}}
{{end}}



<div class="w-33 flex flex-col mb3" >
  <h5 class="normal py050 {{with $planColour}}{{.}}{{end}} {{with .Get "planheadingcolour"}}{{.}}{{else}}white-text{{end}} m0">{{$planpage.Params.plantitle}}</h5>
  <div class="flex1">
    <div class="gf9 px1 py1">
      <p style="min-height: 75px;">{{$planpage.Params.plandesc}}</p>

      <h2 class="semi {{with $planTextColour}}{{.}}{{end}} mt0 mb0 pb025">&pound;<span v-html="plans.{{$plan}}.Monthly.netPrice"></span></h2>
      <p>{{$allplans.Param "costlabel"}}</p>

      <p class="flex justify-center my2"><a href="{{$planpage.Permalink}}" class="inv f5 " >{{$allplans.Param "moredetails"}}<i class="net-chevron-right"></i></a></p>
      <p class="small italic mb0 pb1">{{$allplans.Param "savelabel"}} <br>&pound; <span class="bold" v-html="(plans.{{$plan}}.Annual.netPrice / 12).toFixed(2)"></span> / {{$allplans.Param "month"}}</p>
    </div>
    {{if .Get "features"}}
    {{with $features}}{{.Content}}{{end}}
    {{end}}
  </div>
  {{if .Get "features"}}
  <div class="gf9 px1 pt2 pb1">
    <p class="flex justify-center"><a href="{{$planpage.Permalink}}" class=" inv f5 {{with $buttonClass}}{{.}}{{end}}" >{{$allplans.Param "moredetails"}} <i class="net-chevron-right"></i></a></p>

  </div>
  {{end}}
  <div class="normal py050 {{with $planColour}}{{.}}{{end}} white-text m0"></div>
</div>

