<net-slider scroll-step="{{ .Get "scrollStep" }}" container=".price-ads" >
  <div class="flex align-center">
  <button class="but butlk inv carousel-left-button pr1"><i class="net-chevron-left f4"></i></button>
  <div class="flex1 overflow-x-hidden carousel-height">

    <net-bind data-source="/marketing/feed/{{ .Get "feed" }}?imageSize=small"
        data-source-key="carousel" >

      <div class="price-ads overflow-x-hidden flex smooth">

          <div kb-each-item="carousel" class="price-ad carousel-height flex align-center">
            <img class="price-img carousel-height pr025" kb-src="item.imageAsBase64">
            <span class="rrp price-font-weight price-colour price-font-size carousel-height pr1 flex align-center"
                kb-text="'£' | concat item.price"></span>
          </div>

        </div>
    </net-bind>

  </div>
  <button class="but butlk inv carousel-more-button pl1"><i class="net-chevron-right f4"></i></button>
  </div>

</net-slider>
