
<ka-signin data-two-factor-url="/sign-in/2fa/">
  <form data-signin>
    <div class="pb2 flex-grid ">
      <div class="w-40">
        <label class="text-right-lg blk pr4l bold pb050 pb025l" for="username">Enter your email
          address or username</label>
      </div>
      <div class="flex1">
        <input id="username" name="username" type="username" class="username-field w"
               data-email-field autocomplete="username">
        <p class="red-text small" data-state="hide" data-email-error></p>
      </div>

    </div>
    <div class="pb2 flex-grid">

      <div class="w-40">

        <label for="password" class="text-right-lg blk pr4l bold pb050 pb025l">Enter your password</label>
      </div>
      <div class="flex1">
        <input id="password" name="password" class="password-field w" type="password"
               placeholder="**********" data-password-field autocomplete="current-password">
        <div class="red-text small" data-state="hide" data-password-error></div>
        <div class="red-text" data-state="hide" data-general-error></div>
      </div>

    </div>

    <div class="pb2 flex-grid">
      <div class="w-40"></div>
      <div class="flex1">
        <ka-recaptcha></ka-recaptcha>
        <div class="red-text small pt1" data-state="hide" data-recaptcha-error></div>
      </div>

    </div>

    <div class="flex-grid ">
      <div class="w-40"></div>
      <div class="flex1">
        <div class="flex-grid align-center">
          <button type="submit" class="but butgn chevron-right login-action two-fa">Sign in</button>
          <div class="mt1 mt0l pl2l vsmall ">or <a class="forgotten-password normal"
                                                   href="/sign-in/password-reset/">click
            here to reset your password</a></div>
        </div>


      </div>

    </div>

  </form>


</ka-signin>