{{- define "main" -}}
<div class="white">
<div class="gf9">
  <div class="grid px1 px2l py150">
    <div class="breadcrumb">
      {{- partial "breadcrumb" (dict "p1" . "p2" .) -}}
    </div>
  </div>
</div>



<div class="white">
 <div class="grid px1 px2l pt4 mb2">
  <h1 class="text-center">{{- .Title -}}</h1>
 </div>
</div>

{{- $image := .Resources.GetMatch "*featured*" -}}
{{- $imagesrc := "" -}}
{{- with $image -}}
{{- $image = .Resize "600x" -}}
{{- $imagesrc = .RelPermalink -}}
{{- end -}}
{{- with $imagesrc -}}
<div class="">
 <div class="grid px1 px2l ">
  <img class="responsive-image" src="{{- . -}}" alt="Hero image">
 </div>
</div>
{{- end -}}

<div class="my3">
 <div class="grid px1 px2l">
  {{- .Content -}}
 </div>
</div>

<div>
 <div class="grid flex-grid flex-wrap flex-gutter-3 px1 px2l">
  {{- range .Pages -}}

  {{- partial "sub" . -}}

  {{- end -}}
 </div>
</div>

{{- if eq .Params.relatedbycategory "true" -}}
<div class="white py3">
 <div class="grid">
  <h5 class="px1 px2l uppercase">{{- with .Params.relatedbycategorytitle -}}{{- . -}}{{- else -}}Related {{- end -}}</h5>
  {{- partial "related-by-categories" . -}}
 </div>
</div>
{{- end -}}

{{- partial "prev-next" . -}}
</div>
{{- end -}}
