
$colours: (
	brand: #004875,
	brand-2: #6C8F2F,
	brand-lighter: #007ac1,
	green: #9ACD35,
	orange: #FFB400,
	red: #b00,
	g2: #222222,
	g3: #333333,
	g5: #555555,
	g6: #666666,
	g8: #888888,
	ga: #aaaaaa,
	gc: #cccccc,
	gd: #dddddd,
	ge: #eeeeee,
	gf5: #f5f5f5,
	gf9: #f9f9f9,
	muted: #aaa,
	loud: #000,
	white: #fff,
	bk: #000,
	rgba40: rgba(0,0,0,.4)
);


//$colours: "brand", #004875,"brand-2" #052047,"brand-confirm" #739303,"brand-alert" #D37D1F,"brand-danger" #EA3A61,"grey-33" #333333,"grey-55" #555555,"grey-66" #666666,"grey-aa" #aaaaaa,"grey-cc" #cccccc,"grey-ee" #eeeeee,"grey-f9" #f9f9f9,"brand-white" #fff

@each $name, $colour in $colours {
	.#{$name} {
		background: $colour;
	}
	.#{$name}-text {
	   color: $colour;
	}
}


.vector-brand {
	path {
		fill: green;
	}
}



