<div id="filters-domain-search" class="expand-menu white flex flex-col" data-state="hide" >
  <div class="overflow flex1 ">
    <div class="borb1 borcc">
      <div class="grid flex justify-between py1 px1 px2l">
        <button class="close-menu butlk inv normal flex align-center net-close"></button>
        <span class="uppercase">Filters</span>
        <button data-reset-filters class="butlk inv normal flex align-center">Reset</button>
      </div>
    </div>

    <div class="grid px2l">

      <div class="flex flex-grid ">

        <div class="w-50 pl2l">
          <div class="borb1 borcc py150 px1">
            <label class="rcheck  flex justify-between w"  ><span><span class="f5 thin blk mb050">All best sellers</span>
                <span class="thin small">Top domains (.UK, .CO.UK, .COM, .WALES etc)</span></span>
              <input name="configurestaticpackage" type="checkbox" checked="checked" data-filter="showTopDomains">
              <span class="checkmark"></span>
            </label>

          </div>


          <div class="f5 px1 pt150 thin">Categories</div>
          <net-radio-set data-filter="categories"
               data-source="/domains/tldCategories"
                         data-source-key="categories" data-value="ALL">

            <div data-items class="borb1 borcc px1 py150" >

              <label  class="f5 radiocheck mb2 flex justify-between w thin"><span><span class="f5 thin blk mb050">All categories</span></span>
                <input type="radio"  value="ALL" name="categories">
                <span class="checkmark"></span>
              </label>

                <label kb-each-category="categories" class="f5 radiocheck mb2 flex justify-between w thin"><span><span class="f5 thin blk mb050">{category}</span></span>
                  <input type="radio"  kb-value="category" name="categories">
                  <span class="checkmark"></span>
                </label>
            </div>

          </net-radio-set>



        </div>


      </div>


    </div>
  </div>

  <div class="img-shadow "><div class="grid px1 px2l flex justify-end py075"><button class="but butgn butfullsm close-menu"  data-apply-filters >Apply filters <i class="net-arrow-right"></i></button></div>
  </div>
</div>

