{{- with .Param "filters"}}
{{if eq "domain" .}}
<div id="filters-domain-search" class="expand-menu white flex flex-col" data-state="hide" >
  <div class="overflow flex1 ">
    <div class="borb1 borcc">
      <div class="grid flex justify-between py1 px1 px2l">
        <button class="close-menu butlk inv normal flex align-center net-close"></button>
        <span class="uppercase">Filters</span>
        <button data-reset-filters class="butlk inv normal flex align-center">Reset</button>
      </div>
    </div>

    <div class="grid px2l">

      <div class="flex flex-grid ">
        <div class="w-50 pr2l">
          <div class="flex justify-between align-center borb1 borcc py150 px1">
            <div class="pr1">
              <div class="f5 thin mb050">Use Name Generator</div>
              <div class="thin small">Include alternative suggestions using our name generator</div>
            </div>
            <div><label class="switch">
              <input type="checkbox" checked="checked" data-filter="useNameGenerator" >
              <span class="rslider slider-round"></span>
            </label>
            </div>
          </div>

          <net-range-filter class="borb1 borcc py150 px1 blk" data-filter="maximumLength" >
            <div>
              <div class="f5 thin mb050"><span data-range-value></span> characters</div>
              <div class="thin small">Maximum length of alternative suggestions</div>
            </div>
            <div class="slidecontainer pt150">
              <input type="range" min="2" max="63" value="63" class="slider" id="maxLengthDomain">
            </div>
          </net-range-filter>


          <net-range-filter class="borb1 borcc py150 px1 blk" data-filter="maximumPrice">
            <div>
                <div class="f5 thin mb050">&pound;0.99 - &pound;<span data-range-value></span></div>
              <div class="thin small">Maximum price for the first year</div>
            </div>
            <div class="slidecontainer pt150">
              <input type="range" min="1" max="200" value="200" class="slider" id="maxPriceDomain">
            </div>
          </net-range-filter>

        </div>
        <div class="w-50 pl2l">
          <div class="borb1 borcc py150 px1">
            <label class="rcheck  flex justify-between w"  ><span><span class="f5 thin blk mb050">All best sellers</span>
                <span class="thin small">Top domains (.UK, .CO.UK, .COM, .WALES etc)</span></span>
              <input name="configurestaticpackage" type="checkbox" checked="checked" data-filter="showTopDomains">
              <span class="checkmark"></span>
            </label>

          </div>


          <div class="f5 px1 pt150 thin">Categories</div>
          <net-radio-set data-filter="categories"
               data-source="/domains/tldCategories"
                         data-model="categories" data-value="Popular">

            <div data-items class="borb1 borcc px1 py150 vue-wrapper" >
                <label v-for="category in categories" class="f5 radiocheck mb2 flex justify-between w thin"><span><span class="f5 thin blk mb050">{category}</span></span>
                  <input type="radio"  :value="category" name="categories">
                  <span class="checkmark"></span>
                </label>
            </div>

          </net-radio-set>



        </div>


      </div>


    </div>
  </div>

  <div class="img-shadow "><div class="grid px1 px2l flex justify-end py075"><button class="but butgn butfullsm close-menu"  data-apply-filters >Apply filters <i class="net-arrow-right"></i></button></div>
  </div>
</div>
{{- end -}}
{{- end -}}
