<footer class="bk white-text mb0 flex1">

  <div class="grid px1 px2l">
   <div class="py2 flex-grid">
      <div class="w-50">
        <p>&copy; {{ dateFormat "2006" now }} Netistrar Limited.</p>
        <p class="small muted-text">Registered in England and Wales No. 08735583</p>

      </div>
      <div class="w-50 flex-grid justify-around">
        <div class="pb2"><img src="/images/icann-250.png" width="90" alt="ICANN Accredited Registrar Logo"></div>
        <div class=""><img src="/images/nominet-250.png" width="90" alt="ICANN Accredited Registrar Logo"></div>
      </div>
    </div>
  </div>


</footer>
