
<header class="py1">

 <div class="flex align-center" style="height: 100%;">


  <div id="top-bar" class="grid flex px1 px2l flex1">

   <div class="flex align-center justify-between flex1">

    <div class="ib flex align-center"><a class="flex align-center inverse" href="{{ "/" | relLangURL }}" id="btn-brand"><amp-img class="hidden-sm" src="/images/{{.Site.Params.logo}}" width="{{with .Site.Params.logo_width}}{{.}}{{end}}" height="{{with .Site.Params.logo_height}}{{.}}{{end}}" alt="{{.Site.Title}} logo"></amp-img><amp-img class="hidden-md" src="/images/{{.Site.Params.logo_mini}}" width="{{with .Site.Params.logo_mini_width}}{{.}}{{end}}" height="{{with .Site.Params.logo_mini_height}}{{.}}{{end}}" alt="{{.Site.Title}} logo"></amp-img></a></div>
    <div class="flex justify-end align-center flex1">


     {{ $menu := .Site.Menus.top_bar_blog}}
     {{ partial "linksmenu.html" (dict "page" . "ctx" $ "css" "hidden-sm inv semi mr2" "menu" $menu) }}
     <button on="tap:AMP.setState({ showanalysis: !showanalysis })" class="but butlk inv semi hidden-sm mr2">Analysis</button>
     <button on="tap:sidebar.toggle" class="flex align-center but butlk inv semi {{ if eq (.Scratch.Get "theme") "brand" }}white-text{{end}} " ><i class="f3 net-menu-alt"></i></button>
    </div>
   </div>


  </div>
 </div>

</header>
