
<div id="product-builder-widget"
     class="brand {{with .radius}}{{.}}{{else}}br8tl br8tr br8bl br8br{{end}} pt1 ">
  <div id="dec" class="img-shadow text-center white-text brand hidden-md"><i class="net-chevron-up"></i></div>
  <div class="totals pl075 pr075l " >
    <div class="semi uppercase white-text small pb050">Total</div>
    <div class="white-text semi f3 pb050" >£<span kb-html="total"></span></div>
    <div class="vsmall gc-text pb075"><span kb-html="items.length"></span> items</div>
  </div>
  <div class="ctrls pb150 pr075 pl075l">

      <a kb-if="items.length" {{with .bigbutlink}}kb-on-click="postPackage | args '{{.}}'"{{else}}kb-on-click="addToCart | args '/cart/'"{{end}} href="#"
       class="but butgn w flex justify-between align-center butlg"><span>{{with .bigbuttext}}{{.}}{{else}}Continue{{end}}</span>
        <i class="{{with .bigbuticon}}{{.}}{{else}}net-chevron-right{{end}}"></i></a>

      <a kb-if="items.length | not"  href="#"
      class="but butdisabled butgn w flex justify-between align-center butlg"><span>{{with .bigbuttext}}{{.}}{{else}}Continue{{end}}</span>
      <i class="{{with .bigbuticon}}{{.}}{{else}}net-chevron-right{{end}}"></i></a>


      <a kb-if="items.length" kb-on-click="addToCart | args '{{with .smallbutlink}}{{.}}{{else}}{{$.Site.Params.dashboard_url}}/checkout{{end}}'"
      class="but bor2 boree butbrwh butsm butblk">Quick checkout
        <i class="{{with .smallbuticon}}{{.}}{{else}}net-cart-solid{{end}}"></i></a>

      <a kb-if="items.length | not"  href="#"
      class="but bor2 boree butdisabled butsm butblk">Quick checkout
      <i class="{{with .smallbuticon}}{{.}}{{else}}net-cart-solid{{end}}"></i></a>

  </div>



<div class="white hidden-sm vsmall px075 py150 br8bl br8br" kb-if="items.length">

  <div class="bold">Domain names</div>
  <hr class="mb075">
  <div class="pb025" kb-each-item="items">
    <div class="flex pb025">
      <div class="flex1 semi bw">{item.label} <span class="normal">{item.quantity}{item.quantitySuffix}</span></div>
      <div class="w-30 text-right">£{item.price}</div>
    </div>
    <div class="flex pb025" kb-each-subitem="item.subItems">
<!--      <div>&nbsp;-&nbsp;</div>-->
      <div class="thin flex1 lh12 pr025">{subitem.label} {subitem.quantity}{subitem.quantitySuffix}</div>
      <div class="w-30 lh12 text-right">£{subitem.price}</div>
    </div>
  </div>

</div>


</div>

