<div kb-class-prod-selected="selectedItems | member {{.itemSelector}}.domainName" class="white px1 prod  flex justify-between {{ if eq (.featured) "true" }}featured{{end}} {{ if eq (.suggestion) "true" }}suggestion{{end}}" {{with .tippy}}id="{{.}}"{{end}} {{with .datatippycontent}}data-tippy-content="{{.}}"{{end}} >
  <div class="flex1 pt050 pb050">

    <div class="px050 vsmall green white-text hidden-md mt1 ib"><i class="net-check"></i> available</div>

    <div class="flex-grid flex-wrap justify-between align-start ">
      <div>
      <div class="{{if eq (.featured) "true"}}f3{{else}}f4{{end}} semi pt1 bw">{{with .itemSelector}}{ {{.}}.domainName} {{end}}<span class="availability-label hidden-sm {{if eq (.featured) "true"}}f4{{else}}f5{{end}} green-text"></span>
      </div>


        <div class="vsmall red-text pt050 pb050l" kb-if="{{.itemSelector}}.offers.length">
            <span kb-each-offer="{{.itemSelector}}.offers">
                {offer}.&nbsp;
            </span>
        </div>


      </div>

      <div>

        <div class="py1 flex-grid justify-end" kb-if="{{.itemSelector}}.registrationPrices[0].original | equals 'N/A'">

          <span class="f5" >
            <small kb-if="{{.itemSelector}}.pricingType | notequals 'STANDARD'">from</small>
            &pound;{ {{.itemSelector}}.registrationPrices[0].standard }
            <button class="pop but butlk small inv text-colour super "><i class="net-help-circle"></i></button>
          <div class="hidden content" ><strong>Pricing</strong>
              <p>
                The price displayed is for 1 year.  Renewal price is &pound;{ {{.itemSelector}}.renewalPrice.standard }.  Two year registration price is &pound;{ {{.itemSelector}}.registrationPrices[1].standard }
              </p>
          </div>
          </span>
        </div>

        <div class="pt1 flex-grid justify-end" kb-if="{{.itemSelector}}.registrationPrices[0].original | notequals 'N/A'">
            <small kb-if="{{.itemSelector}}.pricingType | notequals 'STANDARD'">from&nbsp;</small>
            <span kb-if="{{.itemSelector}}.pricingType | equals 'STANDARD'" class="super f4 strike pr050">&pound;{ {{.itemSelector}}.registrationPrices[0].original}</span>
            <span class="red-text {{if eq (.featured) "true"}}f4{{else}}f5{{end}}">
      &pound;{ {{.itemSelector}}.registrationPrices[0].standard }
            </span>
            <button class="pop but butlk small inv text-colour super "><i class="net-help-circle"></i></button>
              <div class="hidden content" ><strong>Pricing</strong>
                  <p>
                      The price displayed is for 1 year.  Renewal price is &pound;{ {{.itemSelector}}.renewalPrice.standard }.  Two year registration price is &pound;{ {{.itemSelector}}.registrationPrices[1].standard }
                  </p>
              </div>
        </div>



      </div>


    </div>
{{- if eq (.featured) "true" -}}
<div class="mt1">
    <div class="g5-text pb050 small " kb-if="{{.itemSelector}}.tldDescription"
         kb-html="{{.itemSelector}}.tldDescription"></div>
    <div class="vsmall bort1 borcc thin py050 ">This is a <span class='semi'>high quality</span> domain name: <span
            class='semi'>Sought-after domain ending <span kb-if="{{.itemSelector}}.prefixLength | lt 15"> &bullet; <span
            class='semi'>Less than 15 characters</span></span></div>
</div>
{{- end -}}

  </div>


  <div class="pt150 spinner-sm">
    <label class="rcheck mb0" kb-if="{{.itemSelector}}.pricingType | equals 'STANDARD'"><input
                                     class="add-domain" name="configurestaticpackage" type="checkbox"
                                     data-toggle-item
                                     kb-checked="selectedItems | member {{.itemSelector}}.domainName"
                                     one-way
                                     kb-on-click="toggleSelectedResult | args {{.itemSelector}}.domainName"
                                     data-type="domainname"
                                     data-product-data-operation="registration"
                                     kb-data-key="{{.itemSelector}}.domainName"
                                     kb-data-label="{{.itemSelector}}.domainName"
                                     data-quantity-suffix="yrs"
                                     data-quantity="1"
                                     kb-data-prices="{{.itemSelector}}.allConfirmedRegistrationPricesString"/>
      <span class="checkmark"></span> <span class="g8-text select-label small hidden-md"></span>
    </label>

    <label class="rcheck mbo" kb-if="{{.itemSelector}}.pricingType | notequals 'STANDARD'">

        <input class="add-domain" name="configurestaticpackage" type="checkbox"
               data-check-item
               data-type="domainname"
               autocomplete="off"
               kb-data-key="{{.itemSelector}}.domainName"
                kb-data-label="{{.itemSelector}}.domainName"
                data-quantity-suffix="yrs"
                data-quantity="1"/>

        <span class="checkmark"></span> <span class="g8-text select-label small hidden-md"></span>

    </label>

  </div>

</div>
