

<div class="white px1 py050 pr3 prod {{ if eq (.featured) "true" }}mb1{{end}}"  >


    <div class="{{if eq (.featured) "true"}}f3{{else}}f4{{end}} semi pt1 ga-text bw">{{with .itemSelector}}{ {{.}}.domainName }{{end}} <span class="{{if eq (.featured) "true"}}f4{{else}}f5{{end}} ga-text">is taken</span>
    </div>
{{- if eq (.featured) "true" -}}
    <div class="small py1 borb1 borcc g5-text">If you are the owner of this Domain Name you can <a class="bold" kb-href="'/transfer?transferDomain=' | append {{with .itemSelector}}{{.}}{{end}}.domainName" target="_blank">Transfer it into your Netistrar Account</a> to gain all the benefits and manage your domain names in one place.</div>
    <div class="vsmall thin py050" kb-if="{{with .itemSelector}}{{.}}.suggestions{{end}}.length">We have some alternative suggestions available to purchase today:
        <span kb-each-suggestion="{{with .itemSelector}}{{.}}.suggestions{{end}}">
            <span kb-if="$index | gt 0">&bullet;</span>
            <a class='inv' href='#' kb-on-click="toggleVisibleSuggestion | args suggestion.domainName">{suggestion.domainName}</a>&nbsp;
        </span>
    </div>
{{- else -}}
<div class="vsmall thin py1 g5-text">Owners: <a :href="'/transfer?transferDomain=' + {{with .itemSelector}}{{.}}{{end}}.domainName" target="_blank">Transfer this domain into your Netistrar Account</a>.
    <span kb-if="{{with .itemSelector}}{{.}}.suggestions{{end}}.length">
    <br>Alternatives:
    <span kb-each-suggestion="{{with .itemSelector}}{{.}}.suggestions{{end}}">
    <span kb-if="$index gt; 0">&bullet;</span>
    <a class='normal inv' href='#' kb-on-click="toggleVisibleSuggestion | args suggestion.domainName">{suggestion.domainName}</a>&nbsp;
    </span>
    </span>
</div>


{{- end -}}
</div>
