<div class="white px1 prod flex justify-between mb1l {{ if eq (.featured) "true" }}featured{{end}} ">
    <div class="flex1 pt050 pb050">
        <div class="flex-grid flex-wrap justify-between align-start ">
            <div>
                <div class="{{if eq (.featured) "true"}}f3{{else}}f4{{end}} semi pt1 bw">{{with .itemSelector}}{ {{.}}.domainName} {{end}}<span class="availability-label f4 brand-text"></span>
                </div></div>

            <div>

                <div class="pt1 flex-grid justify-end">

                <span class="f5">
          <a class="but butgn butsm" href="/help/contact/contact-details/">contact us <i class="net-envelope"></i></a>
          </span>

                    <button class="pop but butlk small inv text-colour super "><i class="net-help-circle"></i></button> <div class="hidden content"><strong>Pricing</strong>
                    <p>
                        Premium domains are subject to additional pricing.  Please contact us to obtain a quotation for this domain.
                    </p></div></div>
                <div class="text-right-lg pb050 lh12"><span class=" vsmall"></span></div>


            </div>

            <div data-state="hide">


                <div class="pt1 flex-grid justify-end">
                    <span class=" f4"></span><button data-template="one" class="pop but butlk inv small text-colour super "><i class="net-help-circle"></i></button> <div class="hidden" id="one"><strong>Pricing</strong><p>The price based upon a discounted rate for 1 year.  Renewal price is £24.98 ex VAT.  Further years are as follows: £13.99 per year ex VAT</p></div></div>
                <div class="text-right-lg pb050 lh12"><span class=" vsmall"></span></div>


            </div>



        </div>

{{- if eq (.featured) "true" -}}
<div class="g5-text borb1 borcc pb050 small mt1">The world's most popular domain name ending</div>
{{- end -}}
        <div class="vsmall py050">This has been categorised by the Registry as a <span class="label label-brand white-text">premium</span> domain name.</div>


</div>



    <div class="pt150">
<!--        <label class="rcheck mb0"><input class="add-domain" name="configurestaticpackage" type="checkbox" data-add-item="" data-key="lucien.blog" data-label="lucien.blog 1yr" data-price="13.80">-->
<!--            <span class="checkmark"></span> <span class="g8-text select-label small hidden-md"></span>-->
<!--        </label>-->
    </div>

</div>
