
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{.Title}}" />
<meta name="twitter:site" content="@netistrar" />
<meta name="twitter:creator" content="{{ if .Params.authors }}{{ range first 1 .Params.authors }}{{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}{{ $param := .Params.twitter }}{{if $param }}{{$param}}{{else}}{{"@netistrar"}}{{end}}{{ end }}{{end}}{{ else }}{{"@netistrar"}}{{end}}" />
<meta property="og:url"                content="{{.Permalink}}" />
<meta property="fb:app_id"             content="{{.Site.Params.facebookappid}}" />
<meta property="og:type"               content="{{if .IsHome}}website{{else}}article{{end}}" />
<meta property="og:title"              content="{{.Title}}" />
<meta property="og:description"        content="{{ if .Description }}{{ .Description }}{{ else }}Netistrar {{.Section}} section: {{.Title}} | Published on {{dateFormat "2006-01-02 11:11" .Lastmod }} | {{.Site.Params.subtitle}}{{end}}" />
<meta property="og:image" content="{{ if $match := .Resources.GetMatch "*featured*" }}{{ $medium := $match.Resize "1200x" }}{{ $permalink := $medium.Permalink }}{{ $permalink }}{{else}}{{.Site.BaseURL}}images/netistrar_logo_60.png{{end}}" />
{{if and (ne .Section "categories") (ne .Section "authors") }}

<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{.Permalink}}"
    },
    "headline":"{{.Title}}",
  "datePublished": "{{.Date.Format "2006-01-02T15:04:05Z0700"}}",
  "dateModified": "{{.Lastmod.Format "2006-01-02T15:04:05Z0700"}}",
  "publisher": {
  "@type": "Organization",
  "name": "Netistrar Limited",
  "logo": {
  "@type": "ImageObject",
  "url": "{{.Site.BaseURL}}images/netistrar_logo_60.png"
  }
  },
  "description": "{{ if .Description }}{{ .Description }}{{ else }}Netistrar {{.Section}} section: {{.Title}} | Published on {{dateFormat "2006-01-02 11:11" .Lastmod }} | {{.Site.Params.subtitle}}{{end}}",
  {{ if $match := .Resources.GetMatch "*featured*" }}{{ $medium := $match.Resize "1200x" }}{{ $permalink := $medium.Permalink }}"image": ["{{$permalink}}"]{{end}},
  "author": {
  {{ if .Params.authors }}
    {{ range first 1 .Params.authors }}{{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}"@type": "Person",
      "name": "{{.Params.name}}"{{end}}{{end}}{{else}}"@type": "Organization",
  "name": "Netistrar Limited"{{end}}
  }
  }
</script>

{{end}}
