{{ $bkImg := .Resources.GetMatch "*background*" }}
<div class="slide "  >
  <div class="layer layer1">


<div class="container-box flex " >
<div class="w-60 with-link fifty-vw-sm" >
  {{ $img := .Resources.GetMatch "*featured*" }}
  {{ with $img }}
  {{ $big := .Resize "2000x" }}
  {{ $medium := .Resize "1000x" }}
  {{ $small := $big.Resize "600x" }}

  <amp-img src="{{ $medium.RelPermalink }}"  alt="{{ $img.Title }}" width="16" height="9" layout="fill"   ></amp-img>
  {{ end }}
  <a href="{{.Permalink}}"></a>
</div>

</div>


  </div>
  <div class="layer layer2">
    <div class="container-box flex grid justify-end">
      <div class="w-40 px1 px4l py1 py0l flex-grid flex-col justify-around gf9">

        <div>
          <ul class="unstyled small uppercase"  >
            {{ range .Params.categories }}<li class="com"><a class="inv normal text-colour" href="/categories/{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
          </ul>
          <div class="f2 semi mb1 lh-title"><a class="inv text-colour" href="{{.Permalink}}">{{.Title}}</a>
          </div>
          {{ $subtitle := cond (isset .Params "hero_subtitle") .Params.hero_subtitle .Description }}
          {{with $subtitle}}
          <p class="default">{{.}}</p>
          {{end}}
        </div>
        <div>
          <time class="small muted-text" datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.Lastmod)) }}">
          {{ dateFormat "2 Jan, 2006" (default .Date (.Lastmod)) }}
          </time>
        </div>


      </div>

    </div>
  </div>
</div>
