{{ define "bodytag"}}
<body id="body" class="blog">

{{ end }}


{{ define "headertag"}}
{{ partial "blog/header" . }}


{{ end }}


{{ define "main" }}


<div class="brand white-text">
  <div class="grid grid-medium px1 px4l py3 text-center">
    {{ $hash := md5 .Params.gravatar }}

   <amp-img src="https://www.gravatar.com/avatar/{{ $hash }}?s=82&d=identicon" alt="Mark Robertshaw" height="82" width="82" class="br50"></amp-img>
  <h1 class="white-text f2 mt0 pt1">{{ .Params.name }}</h1>
    <p>{{.Description}}</p>
    <p>{{with .Params.twitter}}<a href="https://twitter.com/{{.}}" class="ib" ><amp-img width="75" height="59" layout="responsive" src="/images/twitter-white.png"></amp-img></a>{{end}}{{with .Params.facebook}}<a href="https://facebook.com/{{.}}" class="ib" ><amp-img width="75" height="59" layout="responsive" src="/images/facebook-white.png"></amp-img></a>{{end}}{{with .Params.linkedin}}<a href="https://linkedin.com/{{.}}" class="ib" ><amp-img width="75" height="59" layout="responsive" src="/images/linkedin-white.png"></amp-img></a>{{end}}{{with .Params.home}}<a href="{{.}}" class="ib" ><amp-img width="75" height="59" layout="responsive" src="/images/home-white.png"></amp-img></a>{{end}}</p>
  </div>
</div>
<div class="white">
  <div class="grid px1 px2l py1">
    <div class="breadcrumb "><a href="/authors/">Authors</a><span class="leaf">{{.Title}}</span></div>

  </div>
</div>
<main class="px1 px2l grid  pt3 pb5 ">

  <h2>{{- with .Params.name -}}{{- index (split . " ") 0 -}}{{- end -}}'s articles</h2>
  <div class="flex flex-grid flex-wrap flex-gutter-3">
    {{- range .Data.Pages -}}
   {{- partial "news-related-item" . -}}
    {{- end -}}
  </div>

</main>
{{- end -}}

{{- define "bodyclose" -}}
</body>
{{- end -}}
