{{ define "bodytag"}}
<body id="body" class="blog">

{{ end }}


{{ define "headertag"}}
{{ partial "blog/header" . }}


{{ end }}


{{ define "main" }}

<div class="brand white-text">
  <div class="grid grid-medium px1 px4l py3 text-center">
    {{ $hash := md5 .Params.gravatar }}
    <span class="ib mr050 b-cover"
       style="height:82px;width:82px;border-radius: 50%;background-image: url('https://www.gravatar.com/avatar/{{ $hash }}?s=82&d=identicon');"></span>
  <h1 class="white-text f2 mt0 pt1">{{ .Params.name }}</h1>
    <p>{{.Description}}</p>
    <p>{{with .Params.twitter}}<a href="https://twitter.com/{{.}}" class="ib" style="height: 1rem;width: 2rem;display: inline-block"><amp-img width="75" height="59" layout="responsive" src="/images/twitter-white.png"></amp-img></a>{{end}}{{with .Params.facebook}}<a href="https://facebook.com/{{.}}" class="ib" style="height: 1rem;width: 2rem;display: inline-block"><amp-img width="75" height="59" layout="responsive" src="/images/facebook-white.png"></amp-img></a>{{end}}{{with .Params.linkedin}}<a href="https://linkedin.com/{{.}}" class="ib" style="height: 1rem;width: 2rem;display: inline-block"><amp-img width="75" height="59" layout="responsive" src="/images/linkedin-white.png"></amp-img></a>{{end}}{{with .Params.home}}<a href="{{.}}" class="ib" style="height: 1rem;width: 2rem;display: inline-block"><amp-img width="75" height="59" layout="responsive" src="/images/home-white.png"></amp-img></a>{{end}}</p>
  </div>
</div>
<div class="white">
  <div class="grid px1 px2l py1">
    <div class="breadcrumb "><a href="/authors/">Authors</a><span class="leaf">{{.Title}}</span></div>

  </div>
</div>
<main class=" pt3 pb5 ">
  <div class="grid grid-medium px1 px4l">
    <h2>{{ with .Params.name }}{{ index (split . " ") 0 }}{{ end }}'s articles</h2>
    <div class="flex flex-wrap flex-gutter-2-050">


      {{ range .Data.Pages }}


      <div class="w-50 flex flex-col mb2">

        {{ $img := .Resources.GetMatch "*featured*" }}
        {{ $permalink := .RelPermalink }}
        {{ with $img }}
        {{ $small := .Resize "600x" }}
        <div class="blog-img with-link object-fit">
          <amp-img width="16" height="9" layout="responsive" src="{{$small.RelPermalink}}"></amp-img>
          <a href="{{$permalink}}"></a>
        </div>
        {{end}}

        <div class="gf9 p2 flex flex-col justify-between flex1">


          <h4 class="mt0 mb050"><a class="inv font-color bold" href="{{.RelPermalink}}">{{.Title}}</a></h4>
          <ul class="unstyled small  ">
            {{ range .Params.categories }}
            <li class="com"><a class="inv normal g6-text" href="/categories/{{ . | urlize }}/">{{ . }}</a></li>
            {{ end }}
          </ul>

        </div>

      </div>

      {{ end }}
    </div>
  </div>
</main>
{{ end }}

{{ define "bodyclose" }}
</body>
{{ end }}
