
<div id="checkout-widget" class="brand {{with .radius}}{{.}}{{else}}br8tl br8tr br8bl br8br{{end}} px075 pt1 pb150 ">
<div id="dec" class="img-shadow text-center white-text brand hidden-md"><i class="net-chevron-up"></i></div>
<div class="totals">
  <div class="semi uppercase white-text small pb050">Total</div>
  <div class="white-text f3 bold pb050" v-if="cart.subtotal">{cart.subtotal}</div>

</div>
<div class="ctrls pt050">

  <a data-add-to-cart href="{{with .bigbutlink}}{{.}}{{else}}/checkout/{{end}}" class="but butlg butgn butblk w"><span>{{with .bigbuttext}}{{.}}{{else}}Continue{{end}}</span>

  <i class="{{with .bigbuticon}}{{.}}{{else}}net-chevron-right{{end}}"></i></a>


</div>


</div>
