<div kb-bind source="{{.Site.Params.apiurl}}/apidoc/default/object/{request.object}?format=json"
     loading-indicator="search-loading"
     model="api">


    <div class="search-loading py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>


    <div kb-show="api.object" style="display:none;">

        <h1 class="f-subheadline mt050 mb2">API Object: {api.object.name}</h1>

        <p kb-html="api.object.commentHTML">
        </p>

        <h4>Properties</h4>
        <div class="overflow-x">
            <table class="table small table-last">
                <thead>
                <tr>
                    <th class="" scope="col">Name</th>
                    <th class="" scope="col">Details</th>

                </tr>
                </thead>
                <tbody kb-each-property="api.object.properties">
                <tr>
                    <td class="semi" scope="row" data-label="Name">{property.name} <span
                        kb-show="property.required">*</span></td>
                    <td data-label="Type">Type:
                        <a kb-show="property.typePath"
                           kb-href="{{ .Page.CurrentSection.Permalink}}object?object={property.relativeTypePath}">{property.shortType}</a>
                        <span kb-hide="property.typePath">{property.shortType}</span>
                    </td>


                </tr>
                <tr><td></td><td data-label="Access">Access:
                    <span kb-show="property.updatable">Read / Write</span>
                    <span kb-hide="property.updatable">Read Only</span>
                </td></tr>

                <tr><td></td> <td colspan="2" class="text-left-sm" data-label="Description&nbsp;" kb-html="property.description"
                                  style="word-break: break-word"></td></tr>

                </tbody>
            </table>
        </div>

        <p class="small mt050">* indicates required property</p>

    </div>



</div>