<div kb-bind source="{{.Site.Params.apiurl}}/apidoc/default/api/{request.api}/{request.method}?format=json"
     loading-indicator="search-loading"
     model="api">


    <div class="search-loading text-center py2 text-center">

        <img src="/images/loading-animation.gif" alt="Netistrar loading animation">
    </div>


    <div kb-show="api.method" style="display:none;">


        <h1 class="f-subheadline mt050 mb2">{api.controller.title}: {api.method.name}</h1>

        <p kb-html="api.method.commentHTML"></p>

        <p>
            <span kb-show="api.method.httpMethodIndicator.GET" class="badge semi brand-2 white-text">{api.method.httpMethod}</span>
            <span kb-show="api.method.httpMethodIndicator.POST" class="badge semi brand white-text">{api.method.httpMethod}</span>
            <span kb-show="api.method.httpMethodIndicator.PUT" class="badge semi brand white-text">{api.method.httpMethod}</span>
            <span kb-show="api.method.httpMethodIndicator.PATCH" class="badge semi brand white-text">{api.method.httpMethod}</span>
            <span kb-show="api.method.httpMethodIndicator.DELETE" class="badge semi brand white-text">{api.method.httpMethod}</span>
            {api.method.fullRequestPath}
        </p>

        <p class="small"><b>Rate limit: </b>
            <span kb-show="api.method.rateLimit">{api.method.rateLimit} requests per minute</span>
            <span kb-show="api.method.rateLimitMultiplier">
    Your account rate limit as displayed in My Account -> API Settings
    <span kb-hide="api.method.rateLimitMultiplierIsOne" class="semi"> * {api.method.rateLimitMultiplier}</span>
  </span>
        </p>

        <h3 class="mt2 mb1">Parameters</h3>

        <div class="overflow-x ">

            <table class="table small">
                <thead>
                <tr>
                    <th class="" scope="col">Name</th>
                    <th class="" scope="col">Type</th>

                    <th class="" scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr kb-each-param="api.apiMetaData.globalParameters">
                    <td class="semi" scope="row" data-label="Name">
                        <span>{param.name}</span><span>*</span>
                    </td>
                    <td data-label="Type">string</td>
                    <td data-label="Description" kb-html="param.description"></td>
                </tr>
                <tr kb-each-param="api.method.params">
                    <td class="semi" scope="row" data-label="Name">{param.name}<span kb-hide="param.isOptional">*</span></td>
                    <td data-label="Type">
                        <span kb-hide="param.typePath">{param.shortType}</span>
                        <a class="inv" kb-show="param.typePath" kb-href="../object/?object={param.relativeTypePath}">{param.shortType}</a>
                    </td>
                    <td class="text-left-sm" data-label="Description&nbsp;" kb-html="param.description" ></td>
                </tr>

                </tbody>
            </table>

            <p class="small mt050">* indicates required field</p>

        </div>

        <div kb-if="api.method.returnType">

            <h3 class="mt2 mb1">Returns</h3>
                <p kb-hide="api.method.returnTypePath">{api.method.shortReturnType}</p>
            <p><a kb-href="../object/?object={api.method.relativeReturnTypePath}">{api.method.shortReturnType}</a></p>


            <p kb-html="api.method.returnDescription"></p>

        </div>

        <div kb-show="api.method.exceptions">
        <h3 class="mt2 mb1">Exceptions</h3>

            <span kb-each-exception="api.method.exceptions"><a kb-href="../exception/?exception={exception.relativePath}">{exception.shortType}</a>&nbsp;</span>

        </div>

        <h3 class="mt2 mb1">Examples</h3>

     {{ partial "tab-header" }}

<div id="tab-1"  class="tab-content overflow-x current">
<pre >
<code>
curl -H "Content-Type: application/json"
-X {api.method.httpMethod} {api.baseURL}{api.method.fullRequestPath}?apiKey=YOURAPIKEY&apiSecret=YOURSECRET<span
kb-each-param="api.method.params"><span kb-hide="param.payloadParam"><span kb-hide="param.segmentParam">&{param.name}=VALUE</span></span></span>
<span kb-show="api.method.payloadParam">-d '{api.method.payloadParam.shortType} JSON DATA'</span>
</code>
</pre>
</div>

<div id="tab-2"  class="tab-content overflow-x ">
<pre><code class="php">

use <span kb-html="api.method.rootNamespace"></span>\APIProvider;

$client = new APIProvider("{api.baseURL}", "YOURAPIKEY", "YOURAPISECRET");

<span kb-show="api.method.returnType">$result = </span>$client->{api.controller.className}()->{api.method.name}(<span
kb-each-param="api.method.params"><span kb-show="param.index">, </span>${param.name}</span>)

</code></pre>
</div>

<div id="tab-3"  class="tab-content overflow-x">
<pre><code class="java">

APIProvider client = new APIProvider("{api.baseURL}", "YOURAPIKEY", "YOURAPISECRET");

<span kb-show="api.method.returnType">{api.method.returnJavaType} result = </span>client.{api.controller.className}().{api.method.name}(<span
kb-each-param="api.method.params"><span kb-show="param.index">, </span>{param.name}</span>)


</code></pre>
</div>



    </div>

</div>

