
{{$iconstyle := .Get "iconstyle"}}
{{$iconinlinestyle := .Get "iconinlinestyle"}}

{{$page_param := "features"}}
{{ $chosenfeature := .Get "feature_source" }}
{{ $layout := .Get "page_layout" }}
{{ $containerclasses := .Get "container_classes" }}
{{ $data := $.Site.Data }}
{{ if $chosenfeature}}

{{$page_param = $chosenfeature}}

{{end}}

{{ if isset .Page.Params $page_param }}

{{ if eq $layout "list" }}
<div {{with $containerclasses}}class="{{.}}"{{end}}>
  {{ range (index .Page.Params $page_param)}}

  {{ $feature :=  $data.features.all . }}
  <div class="flex">
    <div class="flex justify-center-sm" style="width: 20%;">
      {{if and $iconstyle (eq $iconstyle "font")}}
        {{with $feature.font_icon}}
          <i class="net-{{.}}" {{with $iconinlinestyle }}style="{{.}}"{{end}} ></i>
        {{end}}
      {{end}}
    </div>
    <div class="flex1">
      <h4 class="m0">{{ $feature.title }}</h4>
      <p class="small small-lg">{{ $feature.summary }}{{with $feature.cta}}<br><a href="{{.}}">{{with $feature.ctatext}}{{.}}{{end}}</a>{{end}}</p>

    </div>
  </div>

  {{end}}



</div>
{{ else }}

<div class="grid flex-grid px1 px2l flex-gutter-3">


  {{ range (index .Page.Params $page_param)}}

  {{ $feature := index $data.features.all . }}

  <div class="w-33 flex flex-col mb3 mb0l">



    {{if and $iconstyle (eq $iconstyle "full")}}
      {{with $feature.icon}}
      <div class="gf9 flex justify-center px1 py3 mb1 {{if $feature.cta}}with-link{{end}}">
        <img height="230" src="/images/{{.}}-icon.svg" alt="{{.}} icon">
        {{with $feature.cta}}<a href="{{.}}"></a>{{end}}
      </div>
      {{end}}
    {{else if and $iconstyle (eq $iconstyle "font")}}
      {{with $feature.font_icon}}

      <div class="pt2 pt0l">
        <i class="net-{{.}}" style="font-size: 3rem;"></i>
      </div>

      {{end}}
    {{else}}
      {{with $feature.icon}}
      <div>
        <img src="/images/{{.}}-icon.svg" alt="{{.}} icon" height="50">
      </div>
      {{end}}
    {{end}}



    <div class="flex flex-col justify-between flex1">
      <div>
        <h3>{{ $feature.title }}</h3>


        <p class=" mb050">{{ $feature.summary }}</p>

      </div>
      {{if $feature.cta}}
      <p class="f5 mb2 flex align-center "><a href="{{$feature.cta}}" class="inverse">{{with $feature.cta_label}}{{.}}{{else}}Learn more{{end}} <i
          class="net-chevron-right "
          style="font-size: .75rem"></i></a>
      </p>
      {{end}}
    </div>
  </div>


  {{end}}

</div>

{{end}}

{{ end }}
