{{ $data := $.Site.Data }}

{{ $f := index $data.features.all (.Get "feature") }}

<div class="{{with .Get "wrapclass"}}{{.}}{{end}} pb1">
<div class="grid px1 px2l">
<div class="flex-grid py4 {{if and (.Get "imageposition") (eq (.Get "imageposition") "right")}}flex-row-reverse{{end}}">


  <div class="{{with .Get "imagecellclass"}}{{.}}{{else}}w-66{{end}} {{if and (.Get "imageposition") (eq (.Get "imageposition") "right")}}pl6l{{else}}pr6l{{end}}">
    <img class="responsive-image {{with .Get "imageclass"}}{{.}}{{end}}" src="/images/features/{{$f.image}}" {{with $f.alt}}alt="{{.}}"{{end}} >
    {{with $f.image_caption}}<p class="small ">{{.}}</p>{{end}}
  </div>
  <div class="{{with .Get "contentcellclass"}}{{.}}{{else}}w-33{{end}} pl1l">
  {{with $f.target_audience}}<div class="f4 mt2 mt0l ">{{.}}</div>{{end}}
    <div class="f1 lh-title bold mb2">{{ $f.title }}</div>
    <p>{{ $f.description }}</p>

  </div>
</div>
</div>
</div>
