
<div id="product-builder-widget" class="brand {{with .Get "radius"}}{{.}}{{else}}br8tl br8tr br8bl br8br{{end}} px075 pt1 pb150 ">
  <div id="dec" class="img-shadow text-center white-text brand hidden-md"><i class="net-chevron-up"></i></div>
  <div class="totals">
    <div class="semi uppercase white-text small pb050">Total</div>
    <div class="white-text semi f3 pb050">{cart.subtotal}£25.47</div>
    <div class="vsmall gc-text pb075" kb-="cart.cartSummary">2 items</div>
  </div>
  <div class="ctrls ">

      <a data-add-to-cart href="{{with .Get "bigbutlink"}}{{.}}{{else}}/checkout/{{end}}" class="but butgn w flex justify-between align-center butlg"><span>{{with .Get "bigbuttext"}}{{.}}{{else}}Continue{{end}}</span>

        <i class="{{with .Get "bigbuticon"}}{{.}}{{else}}net-chevron-right{{end}}"></i></a>

      <button class="but butbrwh butsm w">Quick checkout
        <i class="{{with .Get "smallbuticon"}}{{.}}{{else}}net-cart-solid{{end}}"></i></button>

  </div>


</div>
