

<div class="white borb1 bordd px1 py050 pr3 prod {{ if eq (.Get "featured") "true" }}mb1l{{end}}"  >


    <div class="{{if eq (.Get "featured") "true"}}f3{{else}}f4{{end}} semi pt1 ga-text">{{with .Get "domain"}}{{.}}{{end}} <span class="{{if eq (.Get "featured") "true"}}f4{{else}}f5{{end}} ga-text">is taken</span>
    </div>
{{- if eq (.Get "featured") "true" -}}
    <div class="small py1 borb1 borcc g5-text">If you are the owner of this Domain Name you can <a href="">Transfer it into your Netistrar Account</a> to gain all the benefits and manage your domain names in one place.</div>
    <div class="vsmall thin py050">We have some alternative suggestions available to purchase today: {{ .Get "alternatives" | safeHTML}}</div>
{{- else -}}
<div class="vsmall thin py1 g5-text">Owners: <a href="">Transfer this domain into your Netistrar Account</a>. <br>Alternatives: {{ .Get "alternatives" | safeHTML}}</div>


{{- end -}}
</div>