
{{- $author := .Get "author" -}}
{{- $excluded := .Get "excludedCategory" -}}

<h1>this {{$excluded}} {{if $excluded}}{{index $excluded 0}}{{end}}</h1>

{{ $pages := .Site.RegularPages  }}

{{ $blogPages := where $pages "Section" "blog" }}

{{ $arts := slice }}

{{range $blogPages }}
{{ $page := .}}
{{ if in .Params.authors $author | and (not (in .Params.categories $excluded)) }}

{{ $arts = $arts | append $page}}
{{end}}

{{end}}

{{range $arts}}
<h2>{{.Title}}</h2>
{{end}}
    <div class="flex flex-gutter-3-050" >



      {{ $arts := $arts | first 3}}


      {{ range $arts }}

          <div class="w-33 flex flex-col " style="">

            {{ $img := .Resources.GetMatch "*featured*" }}
            {{ $permalink := .RelPermalink }}
            {{ with $img }}
            {{ $small := .Resize "300x" }}
            <div class="aspect sixteen-nine ">
              <div class="b-cover" style="background-image: url({{$small.RelPermalink}});">

                <a href="{{$permalink}}" class="link-over"></a>
              </div>
            </div>
            {{end}}

            <div class="gf9 flex1 p1 flex flex-col justify-between">


              <h5 class="mt0"><a class="inv font-color bold" href="{{.RelPermalink}}">{{.Title}}</a></h5>
              <ul class="unstyled tiny uppercase ">
                {{- range .Params.categories -}}<li class="mb0 com"><a class="inv normal g6-text" href="/categories/{{ . | urlize }}/">{{. }}</a></li>{{- end -}}</ul>

            </div>
          </div>

          {{end}}
        </div>



