
{{$tldsearch := .Get "tldSearch"}}

<div kb-bind source="{{.Site.Params.backendurl}}/domains/{{ $tldsearch }}?productImageSize=small&filterString={tldFilterValue}"
     reload-trigger="tld-filter-value:click,tld-filter-field:enter"
     method="GET" model="tlds"></div>



<div class="prices pt5">
  {{ if eq $tldsearch "tld" }}
  <div class="flex mb4 search-group w-50"><input type="text" class="tld-filter-field flex1 f4 pl1" placeholder="Filter domain endings" kb-value="tldFilterValue"  />
    <button class="white-text f5 tld-filter-value" >Filter</button></div>
  {{ end }}
  <div class="header-row hidden-sm flex" style="border-bottom: 4px solid #729732;">
    <div class="flex1"></div>
    <div class="w-15 text-center py025 brand-2 white-text">Starter 1-49</div>
    <div class="w-15 text-center py025 white-text brand">50+</div>
    <div class="w-15 text-center py025 white-text brand-lighter">1000+</div>
    <!--<div class="w-20"></div>-->
  </div>

  <div kb-each-tld="tlds" class="price-row borb1 bordd py050" >
    <div class="flex flex-grid align-center">
      <div class="tld flex1 flex align-center">

        <div class="flex align-center py050">
          <img style="height:40px;" class="price-img" kb-if="tld.imageAsBase64"
               kb-src="{tld.imageAsBase64}">
          <div class="uppercase semi f4" kb-hide="tld.imageAsBase64">.{tld.tld}</div>

          <div class="red-text vsmall" style="position:relative;top:-5px;" kb-if="tld.offers[0]"><i class="net-special"></i>Offer</div>
        </div>


      </div>


      <div class="w-15 f4 flex justify-between hidden-md"><span class="bold">Starter 1-49</span> <span>&pound;{tld.tierPrices.starter.registrationPrice}</span>
      </div>
      <div class="w-15 f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.starter.registrationPrice}</span>
      </div>
      <div class="w-15 f4 flex justify-between hidden-md"><span class="bold">50+</span> <span>&pound;{tld.tierPrices.fiftyplus.registrationPrice}</span>
      </div>
      <div class="w-15 f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.fiftyplus.registrationPrice}</span>
      </div>
      <div class="w-15 f4 flex justify-between hidden-md"><span class="bold">1000+</span> <span>&pound;{tld.tierPrices.onethousandplus.registrationPrice}</span>
      </div>
      <div class="w-15 f4 flex justify-end hidden-sm pr050l"><span>&pound;{tld.tierPrices.onethousandplus.registrationPrice}</span>
      </div>
    </div>

    <div class="flex flex-grid align-center py050 small thin" kb-if="tld.offers[0]">
      {tld.offers[0].marketingStrapline}
    </div>
    <div class="flex flex-grid align-center pb050 muted-text" kb-hide="tld.tierPrices.starter.renewalPrice | eval '===' tld.tierPrices.starter.registrationPrice">
      <div class="flex1"><span class="small thin">Renewal prices from </span></div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">Starter 1-49</span> <span>&pound;{tld.tierPrices.starter.renewalPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.starter.renewalPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">50+</span> <span>&pound;{tld.tierPrices.fiftyplus.renewalPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.fiftyplus.renewalPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">1000+</span> <span>&pound;{tld.tierPrices.onethousandplus.renewalPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l"><span>&pound;{tld.tierPrices.onethousandplus.renewalPrice}</span>
      </div>
    </div>
    <div class="flex flex-grid align-center pb050 muted-text" kb-hide="tld.tierPrices.starter.transferPrice | eval '===' tld.tierPrices.starter.registrationPrice">
      <div class="flex1"><span class="small thin">Transfer in prices from </span></div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">Starter 1-49</span> <span>&pound;{tld.tierPrices.starter.transferPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.starter.transferPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">50+</span> <span>&pound;{tld.tierPrices.fiftyplus.transferPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l">
        <span>&pound;{tld.tierPrices.fiftyplus.transferPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-between hidden-md"><span class="thin">1000+</span> <span>&pound;{tld.tierPrices.onethousandplus.transferPrice}</span>
      </div>
      <div class="w-15 thin f4 flex justify-end hidden-sm pr050l"><span>&pound;{tld.tierPrices.onethousandplus.transferPrice}</span>
      </div>
    </div>

  </div>


</div>
