<div kb-bind source="/help/whitelabel/netistrar_whitelabel_docs.json" model="docs">

  <div kb-each-doc="docs">

    <div style="display:none;" kb-show="doc.tag | eval '===' '{{with .Get "component"}}{{.}}{{end}}'">

      <p class="italic">{doc.name}</p>

      <p kb-html="doc.description"></p>


      <div kb-if="doc.attributes">

        <h4>Attributes</h4>


        <table class="striped-table">
          <thead>
          <tr>
            <th class="w-40" scope="col">Name</th>
            <th class="w-60" scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr kb-each-attribute="doc.attributes">
            <td data-label="Name">{attribute.name}</td>
            <td data-label="Description">{attribute.description}</td>
          </tr>
          </tbody>
        </table>


      </div>

    </div>

  </div>


<h3>Example</h3>
<section class="tabs flex flex-wrap ">

  <input id="live" type="radio" name="grp" checked="checked"/>
  <label for="live">Demo</label>
  <div>
      <div kb-each-doc="docs">
        <div style="display:none;" kb-show="doc.tag | eval '===' '{{with .Get "component"}}{{.}}{{end}}'" kb-html="doc.example">
        </div>
    </div>
  </div>

  <input id="code" type="radio" name="grp"/>
  <label for="code">Code</label>
  <div>
    <div kb-each-doc="docs">
      <div style="display:none;" kb-show="doc.tag | eval '===' '{{with .Get "component"}}{{.}}{{end}}'">
      <pre><code kb-html="doc.exampleCode" class="html"></code></pre>
      </div>
    </div>
  </div>



  </div>

</section>



</div>





